In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("train.csv",encoding="utf-8")

In [2]:
test = pd.read_csv("test.csv",encoding="utf-8")

In [4]:
train["event"].unique()

array(['Camera', 'Selection', 'Ability', 'Right Click', 'SetControlGroup',
       'GetControlGroup', 'AddToControlGroup', 'ControlGroup'],
      dtype=object)

In [5]:
train_select = train[train["event"]=="Selection"]

In [3]:
test_select = test[test["event"] == "Selection"]

In [6]:
train_select

(9526159, 7)

In [5]:
test_select.shape

(4077893, 6)

In [9]:
train_select

,game_id,winner,time,player,species,event,event_contents
2,0,1,0.02,0,T,Selection,['OrbitalCommand [3080001]']
28,0,1,0.33,0,T,Selection,['OrbitalCommand [3080001]']
57,0,1,0.40,1,T,Selection,['OrbitalCommand [33C0001]']
68,0,1,0.47,0,T,Selection,['SCV [3280001]']
102,0,1,1.06,0,T,Selection,['CreepOnlyBlocker4x4 [1B00001]']
...,...,...,...,...,...,...,...
67091719,38871,0,8.43,0,Z,Selection,['Egg [5700004]']
67091720,38871,0,8.43,0,Z,Selection,['Egg [5700004]']
67091723,38871,0,8.43,0,Z,Selection,['Drone [4300006]']
67091748,38871,0,8.49,0,Z,Selection,['Egg [47C0004]']
67091750,38871,0,8.49,0,Z,Selection,['Egg [47C0004]']

In [6]:
test_select

,game_id,time,player,species,event,event_contents
2,38872,0.01,1,P,Selection,['Nexus [3100001]']
31,38872,0.14,0,P,Selection,['Probe [2F80001]']
65,38872,0.22,1,P,Selection,['Probe [32C0001]']
86,38872,0.40,0,P,Selection,['Probe [2F40001]']
97,38872,0.48,0,P,Selection,['Nexus [2DC0001]']
...,...,...,...,...,...,...
28714812,55658,4.41,0,Z,Selection,"['Zergling [4140003]', 'Zergling [4380003]']"
28714813,55658,4.41,0,Z,Selection,"['Zergling [4140003]', 'Zergling [4380003]']"
28714819,55658,4.43,1,T,Selection,[]
28714821,55658,4.47,1,T,Selection,"['Reaper [4000001]', 'Reaper [4100002]', 'Reap..."
28714838,55658,4.51,0,Z,Selection,[]

In [7]:
game_id_unique = train["game_id"].unique()
df = pd.DataFrame(game_id_unique,columns=['game_id'])

In [7]:
game_id_unique_test = test["game_id"].unique()
df_test = pd.DataFrame(game_id_unique_test,columns=['game_id'])

In [8]:
df

       game_id
0            0
1            1
2            2
3            3
4            4
...        ...
38867    38867
38868    38868
38869    38869
38870    38870
38871    38871

[38872 rows x 1 columns]

In [8]:
df_test

       game_id
0        38872
1        38873
2        38874
3        38875
4        38876
...        ...
16782    55654
16783    55655
16784    55656
16785    55657
16786    55658

[16787 rows x 1 columns]

In [10]:
# 칼럼 단어만 추출하기
def eliminated_sc(text):
    word = text.split(' ')
    col_name = word[0].split("'")
    if (len(col_name) > 1):
        result = col_name[1]
    else:
        result = 'nothing'
    return result

In [11]:
train_select.event_contents = train_select.event_contents.apply(lambda x : eliminated_sc(x))

/home/realna/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [11]:
test_select.event_contents = test_select.event_contents.apply(lambda x : eliminated_sc(x))

/home/realna/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [13]:
train_select[:40]

     game_id  winner  time  player species      event       event_contents
2          0       1  0.02       0       T  Selection       OrbitalCommand
28         0       1  0.33       0       T  Selection       OrbitalCommand
57         0       1  0.40       1       T  Selection       OrbitalCommand
68         0       1  0.47       0       T  Selection                  SCV
102        0       1  1.06       0       T  Selection  CreepOnlyBlocker4x4
103        0       1  1.07       0       T  Selection                  SCV
110        0       1  1.15       0       T  Selection                  SCV
130        0       1  1.23       1       T  Selection                  SCV
137        0       1  1.27       0       T  Selection                  SCV
141        0       1  1.30       1       T  Selection                  SCV
145        0       1  1.36       0       T  Selection                  SCV
146        0       1  1.37       1       T  Selection             Barracks
152        0       1  1.45       0       T  Selection                  SCV
160        0       1  1.47       0       T  Selection             Barracks
171        0       1  1.52       0       T  Selection                  SCV
178        0       1  2.07       0       T  Selection                  SCV
183        0       1  2.12       1       T  Selection       OrbitalCommand
197        0       1  2.19       0       T  Selection       OrbitalCommand
210        0       1  2.24       1       T  Selection                  SCV
213        0       1  2.25       1       T  Selection             Barracks
214        0       1  2.26       0       T  Selection                  SCV
246        0       1  2.39       0       T  Selection             Barracks
262        0       1  2.44       1       T  Selection                  SCV
301        0       1  2.50       0       T  Selection             Barracks
312        0       1  2.53       1       T  Selection             Barracks
313        0       1  2.53       1       T  Selection             Barracks
326        0       1  2.59       1       T  Selection                  SCV
333        0       1  3.04       0       T  Selection               Reaper
343        0       1  3.12       1       T  Selection               Marine
344        0       1  3.12       1       T  Selection               Marine
347        0       1  3.15       1       T  Selection               Marine
368        0       1  3.18       0       T  Selection       OrbitalCommand
387        0       1  3.23       1       T  Selection             Barracks
388        0       1  3.23       1       T  Selection             Barracks
422        0       1  3.29       1       T  Selection               Marine
447        0       1  3.36       0       T  Selection   SupplyDepotLowered
469        0       1  3.40       0       T  Selection                  SCV
474        0       1  3.40       1       T  Selection              Factory
476        0       1  3.41       1       T  Selection       OrbitalCommand
510        0       1  3.50       1       T  Selection              Factory

In [15]:
train_select = train_select[train_select.event_contents.str.contains('nothing') == False]

In [12]:
test_select = test_select[test_select.event_contents.str.contains('nothing') == False]

In [13]:
def make_column(game_id,player,species,event_contents):
    player_num = "p"+str(player)
    col_name = player_num+"_"+str(event_contents)
    col_name2 = player_num+"_species"
    if col_name in df.columns:
        df.loc[game_id,col_name] += 1
    else:
        df[col_name] = 0
        df[col_name2] = str(species)
        df.loc[game_id,col_name] += 1
        df.loc[game_id,col_name2] = str(species)

In [18]:
def make_column_test(game_id,player,species,event_contents):
    game_id = game_id - 38872
    player_num = "p"+str(player)
    col_name = player_num+"_"+str(event_contents)
    col_name2 = player_num+"_species"
    if col_name in df_test.columns:
        df_test.loc[game_id,col_name] += 1
    else:
        df_test[col_name] = 0
        df_test[col_name2] = str(species)
        df_test.loc[game_id,col_name] += 1
        df_test.loc[game_id,col_name2] = str(species)

In [18]:
train_select.apply(lambda x : make_column(x["game_id"],x["player"],x["species"], x["event_contents"]) , axis = 1 )

2           None
28          None
57          None
68          None
102         None
            ...
67091719    None
67091720    None
67091723    None
67091748    None
67091750    None
Length: 8714387, dtype: object

In [19]:
test_select.apply(lambda x : make_column_test(x["game_id"],x["player"],x["species"], x["event_contents"]) , axis = 1 )

2           None
31          None
65          None
86          None
97          None
            ...
28714788    None
28714803    None
28714812    None
28714813    None
28714821    None
Length: 3732202, dtype: object

In [19]:
df.shape

(38872, 349)

In [20]:
df

,game_id,p0_OrbitalCommand,p0_species,p1_OrbitalCommand,p1_species,p0_SCV,p0_CreepOnlyBlocker4x4,p1_SCV,p1_Barracks,p0_Barracks,...,p1_Infestor,p0_XelNagaDestructibleBlocker8W,p1_CreepTumor,p1_ExtendingBridgeNWWide8,p0_ExtendingBridgeNEWide8Out,p1_DestructibleIce2x6Horizontal,p1_BroodLordCocoon,p0_ExtendingBridgeNWWide8,p0_Disruptor,p0_InfestorBurrowed
0,0,7,,6,,16,1,11,15,3,...,0,0,0,0,0,0,0,0,0,0
1,1,0,,10,,0,0,35,14,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,,0,,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,9,,0,,70,0,0,0,14,...,0,0,0,0,0,0,0,0,0,0
4,4,8,,0,,25,0,1,0,8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38867,38867,14,,0,,19,0,0,0,6,...,0,0,0,0,0,0,0,0,0,0
38868,38868,13,,0,,21,0,0,0,13,...,0,0,0,0,0,0,0,0,0,0
38869,38869,0,,0,,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38870,38870,0,,0,,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38871,38871,0,,10,,0,0,26,13,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
y_train = train[["game_id","winner"]]

In [23]:
y_train = y_train.groupby("game_id")["winner"].mean()

In [24]:
y_train

game_id
0        1
1        1
2        0
3        0
4        0
        ..
38867    1
38868    0
38869    0
38870    1
38871    0
Name: winner, Length: 38872, dtype: int64

In [25]:
df.to_csv("select_train.csv",encoding="utf-8",index=False)

In [26]:
from sklearn.metrics import roc_auc_score   # AUC 스코어 계산
from sklearn.model_selection import KFold   # K-fold CV    
from bayes_opt import BayesianOptimization  # 베이지안 최적화 라이브러리  
from functools import partial               # 함수 변수 고정
import lightgbm as lgb

In [22]:
df_test.to_csv("select_test.csv",encoding="utf-8",index=False)

In [27]:
def lgb_cv(num_leaves,subsample, learning_rate, n_estimators, colsample_bytree, reg_alpha, reg_lambda,
           x_data=None, y_data=None, n_splits=5, output='score'):
    score = 0
    kf = KFold(n_splits=n_splits)
    models = []
    for train_index, valid_index in kf.split(x_data):
        x_train, y_train = x_data.iloc[train_index], y_data[train_index]
        x_valid, y_valid = x_data.iloc[valid_index], y_data[valid_index]
        
        model = lgb.LGBMClassifier(
            num_leaves = int(num_leaves), 
            subsample = np.clip(subsample, 0, 1),
            learning_rate = learning_rate, 
            n_estimators = int(n_estimators), 
            colsample_bytree = np.clip(colsample_bytree, 0, 1), 
            reg_alpha = reg_alpha, 
            reg_lambda = reg_lambda
        )
        
        model.fit(x_train, y_train)
        models.append(model)
        
        pred = model.predict_proba(x_valid)[:, 1]
        true = y_valid
        score += roc_auc_score(true, pred)/n_splits
    
    if output == 'score':
        return score
    if output == 'model':
        return models

In [34]:
func_fixed = partial(lgb_cv, x_data=df, y_data=y_train, n_splits=5, output='score') 
lgbBO = BayesianOptimization(
    func_fixed, 
    {
        'num_leaves': (128, 900),
        'subsample': (0, 1),             # subsample,        범위(0~1)
        'learning_rate': (0.0001, 0.1),
        'n_estimators': (200, 2000),
        'colsample_bytree': (0.15, 1),
        'reg_alpha': (1.5, 9.5), 
        'reg_lambda': (10, 120)
    }, 
    random_state=42
)
lgbBO.maximize(init_points=5, n_iter=30)

|   iter    |  target   | colsam... | learni... | n_esti... | num_le... | reg_alpha | reg_la... | subsample |
-------------------------------------------------------------------------------------------------------------
|  1        |  0.6607   |  0.4684   |  0.09508  |  1.518e+0 |  590.2    |  2.748    |  27.16    |  0.05808  |
|  2        |  0.6736   |  0.8862   |  0.06015  |  1.475e+0 |  143.9    |  9.259    |  101.6    |  0.2123   |
|  3        |  0.6822   |  0.3046   |  0.01842  |  747.6    |  533.1    |  4.956    |  42.04    |  0.6119   |
|  4        |  0.6801   |  0.2686   |  0.02929  |  859.5    |  480.1    |  7.781    |  31.96    |  0.5142   |

KeyboardInterrupt: