In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv('new_train.csv',encoding="utf-8-sig")             # feather 파일로 load 시 기존 CSV 파일 보다 2배 빠른 32초를 소요하여 로드 완료
test=pd.read_csv('test_set2.csv',encoding="utf-8-sig")

In [3]:
train.shape

(38864, 752)

In [5]:
train.drop("Unnamed: 0",1,inplace=True)

In [6]:
train

,game_id,winner,time,player,species,event,event_contents,player0_1360,player0_1021,player0_480,...,player0_40C0,player0_40E0,player1_B00,player0_22C0,player0_1FE0,player0_4041,player0_9C0,player0_17C0,player0_1B60,player0_DA0
0,0,1,7.24,1,T,Ability,"(1380) - LandBarracks; Location: (28.5, 145.5,...",9.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,9.55,0,P,Ability,(15C1) - TrainObserver,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,9.55,0,P,Ability,"(1547) - BuildPhotonCannon; Location: (148.0, ...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,0,9.49,0,T,Ability,(1142) - UnloadTargetMedivac; Target: Medivac ...,7.0,6.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0,5.36,1,Z,Ability,(1820) - MorphDrone,14.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38859,38867,1,8.21,0,T,Ability,(B40) - CalldownMULE; Target: None [00440001];...,11.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38860,38868,0,9.48,0,T,Ability,"(1020) - BuildCommandCenter; Location: (29.5, ...",7.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38861,38869,0,8.20,1,Z,Ability,"(5A0) - Attack; Location: (140.0, 59.725830078...",NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38862,38870,1,5.53,0,P,Ability,(15E0) - TrainProbe,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38863,38871,0,8.52,1,T,Ability,(1360) - TrainSCV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
test.drop("Unnamed: 0",1,inplace=True)

In [9]:
test

,index,game_id,time,player,species,event,event_contents,player1_15E0,player1_species,player0_1822,...,player0_1BC1,player1_1203,player1_10C0,player0_152F,player0_1801,player1_1687,player0_1804,player1_EA2,player0_4BE0,player0_9A0
0,NaN,38872,7.06,0,P,Ability,(4C2) - HoldPosition,12.0,P,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,38873,6.07,1,P,Ability,"(1541) - BuildPylon; Location: (139.0, 23.0, 4...",13.0,P,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,38874,4.38,0,T,Ability,"(5A0) - Attack; Location: (33.4111328125, 99.1...",NaN,T,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,38875,7.52,0,T,Ability,(4C80) - LiberatorAATarget,19.0,P,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,38876,2.42,1,Z,Ability,(1821) - MorphZergling,NaN,Z,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16780,NaN,55654,6.08,0,Z,Ability,(1821) - MorphZergling,NaN,T,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16781,NaN,55655,9.57,1,T,Ability,(1142) - UnloadTargetMedivac; Location: (149.2...,NaN,T,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16782,NaN,55656,6.06,1,P,Ability,"(5A0) - Attack; Location: (149.356201171875, 1...",8.0,P,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16783,NaN,55657,1.12,1,T,Ability,(1360) - TrainSCV,NaN,T,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16784,NaN,55658,4.52,1,T,Ability,"(5A0) - Attack; Location: (128.19921875, 51.53...",NaN,T,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
test[test["game_id"]==41794]

,index,game_id,time,player,species,event,event_contents,player1_15E0,player1_species,player0_1822,...,player0_1BC1,player1_1203,player1_10C0,player0_152F,player0_1801,player1_1687,player0_1804,player1_EA2,player0_4BE0,player0_9A0
2922,NaN,41794,3.54,0,Z,Ability,"(20E0) - RootSpineCrawler; Location: (68.0, 11...",NaN,Z,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
test.shape

(16785, 716)

In [18]:
test2 = test

In [30]:
#test2.loc[16785, 'game_id'] = 41795
test2.loc[16785, 'time'] = 1

In [31]:
#test2.loc[16786, 'game_id'] = 46435
test2.loc[16786, 'time'] = 1

In [32]:
test2

,index,game_id,time,player,species,event,event_contents,player1_15E0,player1_species,player0_1822,...,player0_1BC1,player1_1203,player1_10C0,player0_152F,player0_1801,player1_1687,player0_1804,player1_EA2,player0_4BE0,player0_9A0
0,NaN,38872.0,7.06,0.0,P,Ability,(4C2) - HoldPosition,12.0,P,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,38873.0,6.07,1.0,P,Ability,"(1541) - BuildPylon; Location: (139.0, 23.0, 4...",13.0,P,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,38874.0,4.38,0.0,T,Ability,"(5A0) - Attack; Location: (33.4111328125, 99.1...",NaN,T,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,38875.0,7.52,0.0,T,Ability,(4C80) - LiberatorAATarget,19.0,P,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,38876.0,2.42,1.0,Z,Ability,(1821) - MorphZergling,NaN,Z,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16782,NaN,55656.0,6.06,1.0,P,Ability,"(5A0) - Attack; Location: (149.356201171875, 1...",8.0,P,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16783,NaN,55657.0,1.12,1.0,T,Ability,(1360) - TrainSCV,NaN,T,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16784,NaN,55658.0,4.52,1.0,T,Ability,"(5A0) - Attack; Location: (128.19921875, 51.53...",NaN,T,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16785,NaN,41795.0,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16786,NaN,46435.0,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
test2["game_id"] = test2["game_id"].astype("int")

In [34]:
test2

,index,game_id,time,player,species,event,event_contents,player1_15E0,player1_species,player0_1822,...,player0_1BC1,player1_1203,player1_10C0,player0_152F,player0_1801,player1_1687,player0_1804,player1_EA2,player0_4BE0,player0_9A0
0,NaN,38872,7.06,0.0,P,Ability,(4C2) - HoldPosition,12.0,P,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,38873,6.07,1.0,P,Ability,"(1541) - BuildPylon; Location: (139.0, 23.0, 4...",13.0,P,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,38874,4.38,0.0,T,Ability,"(5A0) - Attack; Location: (33.4111328125, 99.1...",NaN,T,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,38875,7.52,0.0,T,Ability,(4C80) - LiberatorAATarget,19.0,P,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,38876,2.42,1.0,Z,Ability,(1821) - MorphZergling,NaN,Z,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16782,NaN,55656,6.06,1.0,P,Ability,"(5A0) - Attack; Location: (149.356201171875, 1...",8.0,P,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16783,NaN,55657,1.12,1.0,T,Ability,(1360) - TrainSCV,NaN,T,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16784,NaN,55658,4.52,1.0,T,Ability,"(5A0) - Attack; Location: (128.19921875, 51.53...",NaN,T,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16785,NaN,41795,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16786,NaN,46435,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
real_test = test2.set_index("game_id").sort_index()

In [42]:
real_test

,index,time,player,species,event,event_contents,player1_15E0,player1_species,player0_1822,player0_species,...,player0_1BC1,player1_1203,player1_10C0,player0_152F,player0_1801,player1_1687,player0_1804,player1_EA2,player0_4BE0,player0_9A0
game_id,,,,,,,,,,,,,,,,,,,,,
38872,NaN,7.06,0.0,P,Ability,(4C2) - HoldPosition,12.0,P,NaN,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38873,NaN,6.07,1.0,P,Ability,"(1541) - BuildPylon; Location: (139.0, 23.0, 4...",13.0,P,6.0,Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38874,NaN,4.38,0.0,T,Ability,"(5A0) - Attack; Location: (33.4111328125, 99.1...",NaN,T,NaN,T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38875,NaN,7.52,0.0,T,Ability,(4C80) - LiberatorAATarget,19.0,P,NaN,T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38876,NaN,2.42,1.0,Z,Ability,(1821) - MorphZergling,NaN,Z,NaN,Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55654,NaN,6.08,0.0,Z,Ability,(1821) - MorphZergling,NaN,T,6.0,Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55655,NaN,9.57,1.0,T,Ability,(1142) - UnloadTargetMedivac; Location: (149.2...,NaN,T,7.0,Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55656,NaN,6.06,1.0,P,Ability,"(5A0) - Attack; Location: (149.356201171875, 1...",8.0,P,NaN,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55657,NaN,1.12,1.0,T,Ability,(1360) - TrainSCV,NaN,T,NaN,T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55658,NaN,4.52,1.0,T,Ability,"(5A0) - Attack; Location: (128.19921875, 51.53...",NaN,T,1.0,Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
train

,game_id,winner,time,player,species,event,event_contents,player0_1360,player0_1021,player0_480,...,player0_40C0,player0_40E0,player1_B00,player0_22C0,player0_1FE0,player0_4041,player0_9C0,player0_17C0,player0_1B60,player0_DA0
0,0,1,7.24,1,T,Ability,"(1380) - LandBarracks; Location: (28.5, 145.5,...",9.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,9.55,0,P,Ability,(15C1) - TrainObserver,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,9.55,0,P,Ability,"(1547) - BuildPhotonCannon; Location: (148.0, ...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,0,9.49,0,T,Ability,(1142) - UnloadTargetMedivac; Target: Medivac ...,7.0,6.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0,5.36,1,Z,Ability,(1820) - MorphDrone,14.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38859,38867,1,8.21,0,T,Ability,(B40) - CalldownMULE; Target: None [00440001];...,11.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38860,38868,0,9.48,0,T,Ability,"(1020) - BuildCommandCenter; Location: (29.5, ...",7.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38861,38869,0,8.20,1,Z,Ability,"(5A0) - Attack; Location: (140.0, 59.725830078...",NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38862,38870,1,5.53,0,P,Ability,(15E0) - TrainProbe,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38863,38871,0,8.52,1,T,Ability,(1360) - TrainSCV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
y_train = train["winner"]

In [45]:
train.drop(["game_id","winner","player","species","event","event_contents"],1,inplace=True)

In [48]:
real_test.drop(["index","player","species","event","event_contents"],1,inplace=True)

In [51]:
real_test

,time,player1_15E0,player1_species,player0_1822,player0_species,player1_1541,player0_1820,player1_1544,player0_16E0,player1_1540,...,player0_1BC1,player1_1203,player1_10C0,player0_152F,player0_1801,player1_1687,player0_1804,player1_EA2,player0_4BE0,player0_9A0
game_id,,,,,,,,,,,,,,,,,,,,,
38872,7.06,12.0,2.0,NaN,2.0,5.0,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38873,6.07,13.0,2.0,6.0,3.0,4.0,7.0,1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38874,4.38,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38875,7.52,19.0,2.0,NaN,1.0,4.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38876,2.42,NaN,3.0,NaN,3.0,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55654,6.08,NaN,1.0,6.0,3.0,NaN,7.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55655,9.57,NaN,1.0,7.0,3.0,NaN,11.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55656,6.06,8.0,2.0,NaN,2.0,10.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55657,1.12,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55658,4.52,NaN,1.0,1.0,3.0,NaN,6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
real_test["player0_species"] = real_test["player0_species"].map({'T':1,'P':2,'Z':3})
real_test["player1_species"] = real_test["player1_species"].map({'T':1,'P':2,'Z':3})
train["player0_species"] = train["player0_species"].map({'T':1,'P':2,'Z':3})
train["player1_species"] = train["player1_species"].map({'T':1,'P':2,'Z':3})

In [52]:
set(real_test.columns)

Index(['time', 'player1_15E0 ', 'player1_species', 'player0_1822 ',
       'player0_species', 'player1_1541 ', 'player0_1820 ', 'player1_1544 ',
       'player0_16E0 ', 'player1_1540 ',
       ...
       'player0_1BC1 ', 'player1_1203 ', 'player1_10C0 ', 'player0_152F ',
       'player0_1801 ', 'player1_1687 ', 'player0_1804 ', 'player1_EA2 ',
       'player0_4BE0 ', 'player0_9A0 '],
      dtype='object', length=710)

In [53]:
train.columns

Index(['time', 'player0_1360 ', 'player0_1021 ', 'player0_480 ',
       'player1_1360 ', 'player1_1021 ', 'player1_1022 ', 'player0_1023 ',
       'player0_1022 ', 'player1_1023 ',
       ...
       'player0_40C0 ', 'player0_40E0 ', 'player1_B00 ', 'player0_22C0 ',
       'player0_1FE0 ', 'player0_4041 ', 'player0_9C0 ', 'player0_17C0 ',
       'player0_1B60 ', 'player0_DA0 '],
      dtype='object', length=745)

In [54]:
common_columns = set(real_test.columns) & set(train.columns)

In [55]:
list(common_columns)

['player1_1240 ',
 'player1_B61 ',
 'player1_1BE2 ',
 'player0_43E0 ',
 'player1_1080 ',
 'player0_1500 ',
 'player1_1300 ',
 'player0_D20 ',
 'player1_22A1 ',
 'player0_1CC0 ',
 'player0_8A0 ',
 'player0_11E1 ',
 'player1_E80 ',
 'player0_880 ',
 'player0_780 ',
 'player0_4EC0 ',
 'player0_2061 ',
 'player1_1720 ',
 'player1_1BC0 ',
 'player0_13A0 ',
 'player0_1E60 ',
 'player1_1121 ',
 'player1_31A0 ',
 'player0_1800 ',
 'player0_102D ',
 'player1_1261 ',
 'player1_1BC1 ',
 'player0_1445 ',
 'player0_2080 ',
 'player1_D20 ',
 'player1_D00 ',
 'player0_4C1 ',
 'player0_1803 ',
 'player0_1426 ',
 'player0_1801 ',
 'player1_1726 ',
 'player0_B40 ',
 'player1_26C1 ',
 'player1_1800 ',
 'player1_1420 ',
 'player1_1723 ',
 'player1_1100 ',
 'player0_11E3 ',
 'player1_15A8 ',
 'player1_FE0 ',
 'player1_15A4 ',
 'player1_2040 ',
 'player1_12C0 ',
 'player1_960 ',
 'player0_4AFE',
 'player0_5641 ',
 'player1_17C1 ',
 'player1_1880 ',
 'player1_1525 ',
 'player1_1480 ',
 'player0_41E0 ',
 'player1_1681 ',
 'player1_4AFE',
 'player0_1727 ',
 'player0_1A62 ',
 'player1_1549 ',
 'player1_14E9 ',
 'player1_FC0 ',
 'player1_16E3 ',
 'player0_1080 ',
 'player0_22A0 ',
 'player0_1687 ',
 'player1_43E0 ',
 'player0_15C0 ',
 'player0_A40 ',
 'player0_2B40 ',
 'player1_16E7 ',
 'player0_15C1 ',
 'player0_4040 ',
 'player1_40E0 ',
 'player1_4C0 ',
 'player1_20E0 ',
 'player1_2100 ',
 'player0_1446 ',
 'player0_3480 ',
 'player0_4160 ',
 'player0_4C3 ',
 'player1_39A0 ',
 'player0_154E ',
 'player1_1822 ',
 'player0_14E0 ',
 'player1_15A9 ',
 'player1_11E1 ',
 'player0_1544 ',
 'player1_12A0 ',
 'player1_42C1 ',
 'player0_4E40 ',
 'player0_1406 ',
 'player0_1920 ',
 'player0_152B ',
 'player0_26C0 ',
 'player1_1024 ',
 'player0_2101 ',
 'player0_1204 ',
 'player1_16EE ',
 'player1_F81 ',
 'player1_1DA0 ',
 'player0_B61 ',
 'player1_154A ',
 'player1_12E0 ',
 'player0_1120 ',
 'player0_1BA0 ',
 'player0_D61 ',
 'player0_D40 ',
 'player0_2120 ',
 'player0_40C0 ',
 'player1_1980 ',
 'player0_1121 ',
 'player1_12E1 ',
 'player1_152E ',
 'player0_1545 ',
 'player0_8E0 ',
 'player1_1025 ',
 'player1_1021 ',
 'player0_102A ',
 'player1_1C60 ',
 'player1_1542 ',
 'player1_8E0 ',
 'player0_1203 ',
 'player0_1C80 ',
 'player1_4C60 ',
 'player1_1142 ',
 'player1_1440 ',
 'player0_1D20 ',
 'player0_1D86 ',
 'player1_3480 ',
 'player1_11E0 ',
 'player1_1421 ',
 'player0_17C1 ',
 'player1_1407 ',
 'player0_1823 ',
 'player0_3040 ',
 'player0_1FE0 ',
 'player0_1824 ',
 'player1_1CE0 ',
 'player1_1724 ',
 'player1_1405 ',
 'player1_182E ',
 'player0_182E ',
 'player1_16E9 ',
 'player1_1700 ',
 'player0_1DA0 ',
 'player0_2040 ',
 'player0_14C4 ',
 'player1_1541 ',
 'player1_18A0 ',
 'player1_1401 ',
 'player1_1120 ',
 'player1_5641 ',
 'player1_16E8 ',
 'player1_41E0 ',
 'player1_2120 ',
 'player1_3140 ',
 'player0_16A2 ',
 'player0_3120 ',
 'player1_2060 ',
 'player1_4C80 ',
 'player1_1445 ',
 'player1_182A ',
 'player0_1360 ',
 'player0_12A0 ',
 'player1_1584 ',
 'player0_22C1 ',
 'player0_16C4 ',
 'player0_E20 ',
 'player1_1AC0 ',
 'player0_F60 ',
 'player1_1500 ',
 'player0_16E7 ',
 'player1_1586 ',
 'player0_1680 ',
 'player0_2060 ',
 'player1_20A0 ',
 'player0_213E',
 'player1_1583 ',
 'player0_BE0 ',
 'player0_17E1 ',
 'player0_1B00 ',
 'player0_154D ',
 'player0_1024 ',
 'player1_12A1 ',
 'player0_1060 ',
 'player1_480 ',
 'player0_14E9 ',
 'player0_7C0 ',
 'player1_1824 ',
 'player1_15D2 ',
 'player1_10C0 ',
 'player0_1442 ',
 'player0_1026 ',
 'player1_1422 ',
 'player0_15C2 ',
 'player1_16E2 ',
 'player0_12C0 ',
 'player0_1542 ',
 'player1_1545 ',
 'player0_16EA ',
 'player0_1741 ',
 'player0_1AC4 ',
 'player0_15D2 ',
 'player0_1585 ',
 'player1_15C0 ',
 'player0_1EA0 ',
 'player1_1829 ',
 'player0_18C0 ',
 'player0_1684 ',
 'player0_42A1 ',
 'player1_18C0 ',
 'player1_1028 ',
 'player1_13A0 ',
 'player1_1B40 ',
 'player1_42C0 ',
 'player0_1020 ',
 'player1_127E',
 'player0_14A2 ',
 'player0_1586 ',
 'player0_5700 ',
 'player0_1100 ',
 'player1_1B21 ',
 'player0_1C61 ',
 'player0_1547 ',
 'player1_14E3 ',
 'player0_56A0 ',
 'player1_BE0 ',
 'player0_1142 ',
 'player1_1DA2 ',
 'player1_1180 ',
 'player1_4AE0 ',
 'player0_1C00 ',
 'player1_15C2 ',
 'player1_5600 ',
 'player1_152B ',
 'player0_920 ',
 'player1_1563 ',
 'player0_1563 ',
 'player0_1025 ',
 'player1_13E2 ',
 'player1_F01 ',
 'player1_4EC0 ',
 'player0_F41 ',
 'player0_16EF ',
 'player1_880 ',
 'player0_15E0 ',
 'player1_4160 ',
 'player1_1543 ',
 'player0_15A0 ',
 'player1_1BA0 ',
 'player1_1026 ',
 'player0_1B60 ',
 'player1_1687 ',
 'player1_1D86 ',
 'player1_1547 ',
 'player0_FE0 ',
 'player0_820 ',
 'player0_EE0 ',
 'player1_B40 ',
 'player0_5A0 ',
 'player1_4B80 ',
 'player1_3060 ',
 'player1_2B00 ',
 'player0_1600 ',
 'player1_1AE0 ',
 'player0_15A9 ',
 'player0_1143 ',
 'player0_154C ',
 'player0_15A2 ',
 'player0_16EE ',
 'player1_1D40 ',
 'player0_16E2 ',
 'player1_F00 ',
 'player0_12BE',
 'player1_13E3 ',
 'player1_42A1 ',
 'player1_2B40 ',
 'player1_1441 ',
 'player1_1D83 ',
 'player1_16A5 ',
 'player1_1581 ',
 'player1_14ED ',
 'player1_213E',
 'player1_4020 ',
 'player0_1404 ',
 'player0_1DA2 ',
 'player1_1821 ',
 'player1_4C2 ',
 'player0_1420 ',
 'player0_E80 ',
 'player1_1823 ',
 'player1_1C80 ',
 'player0_1562 ',
 'player1_15A2 ',
 'player0_39A0 ',
 'player0_14EF ',
 'player0_D41 ',
 'player1_1360 ',
 'player0_1880 ',
 'player1_1E60 ',
 'player1_17E1 ',
 'player0_483 ',
 'player1_1220 ',
 'player0_1320 ',
 'player0_20C0 ',
 'player0_1549 ',
 'player1_1660 ',
 'player1_16E5 ',
 'player0_14A1 ',
 'player0_1160 ',
 'player1_1443 ',
 'player0_1AC1 ',
 'player1_1CA0 ',
 'player0_1280 ',
 'player1_1585 ',
 'player1_1320 ',
 'player0_1BC0 ',
 'player1_1D00 ',
 'player1_1AC1 ',
 'player1_B60 ',
 'player0_1443 ',
 'player0_1980 ',
 'player1_1143 ',
 'player1_2160 ',
 'player1_1447 ',
 'player0_103E ',
 'player1_7E0 ',
 'player0_5600 ',
 'player0_17A3 ',
 'player0_1023 ',
 'player0_4220 ',
 'player0_127E',
 'player1_7A0 ',
 'player1_14C1 ',
 'player0_16E4 ',
 'player0_1240 ',
 'player0_11A0 ',
 'player0_1C60 ',
 'player1_1C61 ',
 'player1_1CC0 ',
 'player1_4EA0 ',
 'player1_8A0 ',
 'player0_900 ',
 'player1_1920 ',
 'player1_1FE0 ',
 'player0_1726 ',
 'player0_1960 ',
 'player0_1AC0 ',
 'player0_16E0 ',
 'player0_4AE0 ',
 'player0_F40 ',
 'player0_12E1 ',
 'player1_CC0 ',
 'player1_1600 ',
 'player0_20A0 ',
 'player1_9E0 ',
 'player1_13E1 ',
 'player0_EA2 ',
 'player1_1940 ',
 'player1_3180 ',
 'player0_2C80 ',
 'player1_1424 ',
 'player1_15E0 ',
 'player1_1D81 ',
 'player1_2061 ',
 'player0_8A2 ',
 'player0_F80 ',
 'player0_1D83 ',
 'player1_E00 ',
 'player1_26C0 ',
 'player0_1418 ',
 'player0_42A3',
 'player0_20E0 ',
 'player1_1701 ',
 'player1_16ED ',
 'player1_1340 ',
 'player1_1260 ',
 'player1_D61 ',
 'player1_F61 ',
 'player0_1220 ',
 'player0_3140 ',
 'player1_1D60 ',
 'player0_1723 ',
 'player1_2720 ',
 'player0_1405 ',
 'player1_1EA0 ',
 'player1_16C4 ',
 'player0_14EE ',
 'player1_5640 ',
 'player0_1B40 ',
 'player1_1FC0 ',
 'player1_F41 ',
 'player1_4E40 ',
 'player0_1A63 ',
 'player0_42C1 ',
 'player0_1021 ',
 'player0_22A1 ',
 'player0_4120 ',
 'player1_12FE',
 'player1_16EA ',
 'player0_17C0 ',
 'player0_15A8 ',
 'player1_1AC3 ',
 'player1_1423 ',
 'player0_1AE0 ',
 'player1_16E4 ',
 'player1_4040 ',
 'player0_3161 ',
 'player1_1D80 ',
 'player1_3380 ',
 'player0_1423 ',
 'player1_F80 ',
 'player1_1AC6 ',
 'player0_1D40 ',
 'player1_1D20 ',
 'player1_1406 ',
 'player1_12BE',
 'player1_D62 ',
 'player0_1681 ',
 'player0_1FC0 ',
 'player0_FC1 ',
 'player0_1940 ',
 'player1_1418 ',
 'player0_1686 ',
 'player1_1960 ',
 'player0_1261 ',
 'player0_1BC1 ',
 'player0_1407 ',
 'player0_3380 ',
 'player1_16E6 ',
 'player0_F81 ',
 'player1_5A0 ',
 'player0_16E8 ',
 'player1_14A1 ',
 'player0_1081 ',
 'player1_16A1 ',
 'player1_DE0 ',
 'player0_D00 ',
 'player1_16EF ',
 'player0_13E3 ',
 'player1_4120 ',
 'player0_1580 ',
 'player0_1440 ',
 'player1_14EF ',
 'player0_102F ',
 'player0_154B ',
 'player0_FE1 ',
 'player1_56A0 ',
 'player1_1AC5 ',
 'player0_1DA1 ',
 'player0_1740 ',
 'player1_14C4 ',
 'player0_1826 ',
 'player1_4C1 ',
 'player0_2B00 ',
 'player0_16E9 ',
 'player0_1540 ',
 'player0_4240 ',
 'player0_CC0 ',
 'player0_1441 ',
 'player0_F61 ',
 'player1_D41 ',
 'player1_1684 ',
 'player0_12E0 ',
 'player1_1404 ',
 'player0_4C80 ',
 'player1_2101 ',
 'player1_7C0 ',
 'player0_1581 ',
 'player0_B20 ',
 'player0_2DE0 ',
 'player0_1BA1 ',
 'player0_14ED ',
 'player1_1A62 ',
 'player0_18A0 ',
 'player1_3160 ',
 'player0_17A1 ',
 'player0_2F60 ',
 'player1_1546 ',
 'player1_820 ',
 'player1_B01 ',
 'time',
 'player0_1AC6 ',
 'player0_3160 ',
 'player1_F40 ',
 'player1_5700 ',
 'player1_1020 ',
 'player1_17A3 ',
 'player1_10E0 ',
 'player0_1760 ',
 'player1_1820 ',
 'player1_2F60 ',
 'player1_1BE3 ',
 'player1_A40 ',
 'player1_1442 ',
 'player0_B00 ',
 'player0_16E5 ',
 'player0_5640 ',
 'player0_40A0 ',
 'player1_1760 ',
 'player0_2100 ',
 'player0_1480 ',
 'player0_182B ',
 'player1_1727 ',
 'player0_1340 ',
 'player0_13E2 ',
 'player1_154D ',
 'player1_1680 ',
 'player0_22C0 ',
 'player1_1E20 ',
 'player1_1686 ',
 'player0_14E3 ',
 'player1_1280 ',
 'player0_1E20 ',
 'player0_EE1 ',
 'player1_154E ',
 'player0_14C1 ',
 'player0_1724 ',
 'player0_1525 ',
 'player0_1721 ',
 'player1_2DE0 ',
 'player1_182B ',
 'player1_11E3 ',
 'player0_1546 ',
 'player1_1029 ',
 'player0_15A4 ',
 'player1_1203 ',
 'player0_1D81 ',
 'player1_1140 ',
 'player1_1721 ',
 'player1_15A0 ',
 'player0_12FE',
 'player0_16E3 ',
 'player0_B60 ',
 'player0_4020 ',
 'player1_2080 ',
 'player1_1544 ',
 'player1_1446 ',
 'player0_2160 ',
 'player1_D40 ',
 'player0_1701 ',
 'player1_40A0 ',
 'player1_14A2 ',
 'player0_F01 ',
 'player0_DE0 ',
 'player1_4220 ',
 'player0_1683 ',
 'player1_1B00 ',
 'player1_F60 ',
 'player1_1740 ',
 'player1_FE1 ',
 'player1_1526 ',
 'player0_E00 ',
 'player0_13E1 ',
 'player1_1860 ',
 'player1_1C00 ',
 'player0_A80 ',
 'player0_1820 ',
 'player1_15C3 ',
 'player1_102B ',
 'player1_1380 ',
 'player0_14A0 ',
 'player1_483 ',
 'player1_2140 ',
 'player0_20E1 ',
 'player0_12A1 ',
 'player0_1821 ',
 'player0_1CE0 ',
 'player0_1424 ',
 'player0_11C0 ',
 'player1_1060 ',
 'player1_13E0 ',
 'player1_FC1 ',
 'player0_1401 ',
 'player0_1421 ',
 'player0_4021 ',
 'player0_1D00 ',
 'player0_1700 ',
 'player1_1204 ',
 'player1_41A0 ',
 'player0_154A ',
 'player0_55E0 ',
 'player0_1526 ',
 'player0_1380 ',
 'player0_1DC0 ',
 'player0_4C0 ',
 'player0_4EA0 ',
 'player1_55E0 ',
 'player0_1829 ',
 'player0_16E6 ',
 'player0_152E ',
 'player1_1A63 ',
 'player0_1B21 ',
 'player1_EE1 ',
 'player0_9A0 ',
 'player1_1201 ',
 'player1_1023 ',
 'player1_1426 ',
 'player1_1DA1 ',
 'player0_1AC5 ',
 'player0_3060 ',
 'player0_16ED ',
 'player1_14EE ',
 'player1_102F ',
 'player0_1022 ',
 'player1_103E ',
 'player1_900 ',
 'player0_31A0 ',
 'player1_102D ',
 'player0_7A0 ',
 'player1_1741 ',
 'player1_1580 ',
 'player0_1543 ',
 'player0_1AC3 ',
 'player1_11A0 ',
 'player1_4021 ',
 'player0_1140 ',
 'player0_D62 ',
 'player0_1029 ',
 'player0_F00 ',
 'player1_E20 ',
 'player1_B20 ',
 'player1_3120 ',
 'player1_2C80 ',
 'player1_11C0 ',
 'player0_480 ',
 'player0_1584 ',
 'player0_1822 ',
 'player0_102B ',
 'player1_780 ',
 'player0_7E0 ',
 'player1_154B ',
 'player0_1D80 ',
 'player0_41A0 ',
 'player0_15C3 ',
 'player1_3040 ',
 'player0_1860 ',
 'player0_1300 ',
 'player1_8A2 ',
 'player0_42C0 ',
 'player1_15C1 ',
 'player0_1260 ',
 'player0_B01 ',
 'player1_1000 ',
 'player0_4C2 ',
 'player1_1803 ',
 'player1_1AC4 ',
 'player1_1022 ',
 'player0_1000 ',
 'player1_species',
 'player1_14A0 ',
 'player0_1720 ',
 'player1_1081 ',
 'player0_152F ',
 'player0_4C60 ',
 'player0_1541 ',
 'player0_13C0 ',
 'player1_20E1 ',
 'player1_1BA1 ',
 'player1_B00 ',
 'player1_20C0 ',
 'player1_22A0 ',
 'player0_1D60 ',
 'player0_1201 ',
 'player1_1683 ',
 'player0_16A1 ',
 'player0_1BE2 ',
 'player1_920 ',
 'player0_16A5 ',
 'player1_14E0 ',
 'player0_13E0 ',
 'player1_2180 ',
 'player1_1160 ',
 'player0_DA0 ',
 'player1_16E0 ',
 'player1_EE0 ',
 'player0_FC0 ',
 'player1_13C0 ',
 'player0_1422 ',
 'player0_1028 ',
 'player0_1CA0 ',
 'player1_1540 ',
 'player0_10E0 ',
 'player0_2140 ',
 'player1_4C3 ',
 'player1_1562 ',
 'player0_1180 ',
 'player0_2180 ',
 'player1_102A ',
 'player0_species',
 'player0_1447 ',
 'player0_4B80 ',
 'player0_182A ',
 'player1_17A1 ',
 'player1_154C ',
 'player1_16A2 ',
 'player0_2720 ',
 'player1_40C0 ']

In [56]:
df_train = train[list(common_columns)]
df_test = real_test[list(common_columns)]

In [58]:
df_train.fillna(0,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

In [59]:
df_test.fillna(0,inplace=True)

In [60]:
df_train

,player1_1240,player1_B61,player1_1BE2,player0_43E0,player1_1080,player0_1500,player1_1300,player0_D20,player1_22A1,player0_1CC0,...,player1_102A,player0_species,player0_1447,player0_4B80,player0_182A,player1_17A1,player1_154C,player1_16A2,player0_2720,player1_40C0
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38860,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38861,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
38862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38863,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [61]:
df_test

,player1_1240,player1_B61,player1_1BE2,player0_43E0,player1_1080,player0_1500,player1_1300,player0_D20,player1_22A1,player0_1CC0,...,player1_102A,player0_species,player0_1447,player0_4B80,player0_182A,player1_17A1,player1_154C,player1_16A2,player0_2720,player1_40C0
game_id,,,,,,,,,,,,,,,,,,,,,
38872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
38873,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38874,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55654,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55655,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55656,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55657,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [74]:
df_train.to_csv("train_200304.csv",encoding="utf-8",index=False)
df_test.to_csv("test_200304.csv",encoding="utf-8",index=False)

In [62]:
from sklearn.ensemble import RandomForestClassifier

In [63]:
rnd_clf = RandomForestClassifier(n_estimators=1000,random_state=42)

In [64]:
rnd_clf.fit(df_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [65]:
y_pred = rnd_clf.predict_proba(df_test)

In [66]:
sample_submission=pd.read_csv('sample_submission.csv',encoding="utf-8-sig")

In [70]:
y_pred[:,1:]

array([[0.431],
       [0.49 ],
       [0.524],
       ...,
       [0.575],
       [0.474],
       [0.459]])

In [67]:
sample_submission

       game_id  winner
0        38872       0
1        38873       0
2        38874       0
3        38875       0
4        38876       0
...        ...     ...
16782    55654       0
16783    55655       0
16784    55656       0
16785    55657       0
16786    55658       0

[16787 rows x 2 columns]

In [71]:
sample_submission["winner"] = y_pred[:,1:]

In [72]:
sample_submission

       game_id  winner
0        38872   0.431
1        38873   0.490
2        38874   0.524
3        38875   0.308
4        38876   0.702
...        ...     ...
16782    55654   0.691
16783    55655   0.348
16784    55656   0.575
16785    55657   0.474
16786    55658   0.459

[16787 rows x 2 columns]

In [73]:
sample_submission.to_csv("rf1000_submission4.csv",index=False)