In [ ]:
#pip install lightgbm

In [ ]:
#!pip install pycaret[full]

# 모듈 불러오기

In [1]:
from pycaret.classification import *
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from tqdm import tqdm
import gc
import random
import lightgbm as lgb
import re
from sklearn.metrics import *
from sklearn.model_selection import KFold
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
## 필요한 함수 정의


def make_datetime(x):
    # string 타입의 Time column을 datetime 타입으로 변경
    x     = str(x)
    year  = int(x[:4])
    month = int(x[4:6])
    day   = int(x[6:8])
    hour  = int(x[8:10])
    #mim  = int(x[10:12])
    #sec  = int(x[12:])
    return dt.datetime(year, month, day, hour)

def string2num(x):
    # (,)( )과 같은 불필요한 데이터 정제
    x = re.sub(r"[^0-9]+", '', str(x))
    if x =='':
        return 0
    else:
        return int(x)


PATH = 'data/'

## 파일 불러오기

In [3]:
train_err  = pd.read_csv(PATH+'train_err_data.csv')
display(train_err.head())

   user_id            time model_nm       fwver  errtype errcode
0    10000  20201101025616  model_3  05.15.2138       15       1
1    10000  20201101030309  model_3  05.15.2138       12       1
2    10000  20201101030309  model_3  05.15.2138       11       1
3    10000  20201101050514  model_3  05.15.2138       16       1
4    10000  20201101050515  model_3  05.15.2138        4       0

In [4]:
train_quality  = pd.read_csv(PATH+'train_quality_data.csv')
display(train_quality.head())

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
1,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
2,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
3,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
4,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0

In [5]:
# 데이터 설명을 확인하면
# ueser_id가 10000부터 24999까지 총 15000개가 연속적으로 존재.
display(train_err.head())
train_user_id_max = 24999
train_user_id_min = 10000
train_user_number = 15000

   user_id            time model_nm       fwver  errtype errcode
0    10000  20201101025616  model_3  05.15.2138       15       1
1    10000  20201101030309  model_3  05.15.2138       12       1
2    10000  20201101030309  model_3  05.15.2138       11       1
3    10000  20201101050514  model_3  05.15.2138       16       1
4    10000  20201101050515  model_3  05.15.2138        4       0

### 테스트 데이터 불러오기

In [6]:
test_err  = pd.read_csv(PATH+'test_err_data.csv')
display(test_err.head())

   user_id            time model_nm       fwver  errtype errcode
0    30000  20201101030227  model_1  04.16.3553       31       1
1    30000  20201101030227  model_1  04.16.3553       33       2
2    30000  20201101030228  model_1  04.16.3553       15       1
3    30000  20201101030256  model_1  04.16.3553       22       1
4    30000  20201101030300  model_1  04.16.3553       11       1

In [7]:
test_quality  = pd.read_csv(PATH+'test_quality_data.csv')
display(test_quality.head())

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,20201128195000,30000,04.33.1261,0.0,0,0.0,0,0,0,0,5,0,0,2,0,0
1,20201128195000,30000,04.33.1261,0.0,0,0.0,0,0,0,0,5,0,0,2,0,0
2,20201128195000,30000,04.33.1261,0.0,0,0.0,0,0,0,0,5,0,0,2,0,0
3,20201128195000,30000,04.33.1261,0.0,0,0.0,0,0,0,0,5,0,0,2,0,0
4,20201128195000,30000,04.33.1261,0.0,0,0.0,0,0,0,0,5,0,0,2,0,0

In [8]:
# 데이터 설명을 확인하면
# test 데이터는 ueser_id가 30000부터 44998까지 총 14999개가 존재.
test_user_id_max = 44998
test_user_id_min = 30000
test_user_number = 14999

In [9]:
train_err['time_rank'] = train_err['time'].groupby(train_err['user_id']).rank(ascending=True)

In [10]:
print(np.sort(train_err.errtype.unique()))
# errtype이 1부터 42까지 29를 제외한 41개가 존재.

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 30 31 32 33 34 35 36 37 38 39 40 41 42]

In [11]:
print(np.sort(train_err.model_nm.unique()))

['model_0' 'model_1' 'model_2' 'model_3' 'model_4' 'model_5' 'model_6'
 'model_7' 'model_8']

In [12]:
train_err.model_nm.nunique()

9

### fwver 값 통일하기

In [13]:
print(np.sort(train_err.fwver.unique()))

['03.11.1141' '03.11.1149' '03.11.1167' '04.16.2641' '04.16.3345'
 '04.16.3439' '04.16.3553' '04.16.3569' '04.16.3571' '04.22.1442'
 '04.22.1656' '04.22.1666' '04.22.1684' '04.22.1750' '04.22.1778'
 '04.33.1095' '04.33.1125' '04.33.1149' '04.33.1171' '04.33.1185'
 '04.33.1261' '04.73.2237' '04.73.2571' '04.82.1684' '04.82.1730'
 '04.82.1778' '05.15.2090' '05.15.2092' '05.15.2114' '05.15.2120'
 '05.15.2122' '05.15.2138' '05.15.3104' '05.66.3237' '05.66.3571' '10'
 '8.5.3']

In [14]:
print(np.sort(test_err.fwver.unique()))

['03.11.1141' '03.11.1149' '03.11.1167' '04.16.3439' '04.16.3553'
 '04.16.3569' '04.16.3571' '04.22.1170' '04.22.1448' '04.22.1478'
 '04.22.1608' '04.22.1656' '04.22.1666' '04.22.1684' '04.22.1750'
 '04.22.1772' '04.22.1778' '04.33.1125' '04.33.1149' '04.33.1171'
 '04.33.1185' '04.33.1261' '04.73.2237' '04.73.2569' '04.73.2571'
 '04.73.2577' '04.82.1684' '04.82.1730' '04.82.1778' '05.15.2092'
 '05.15.2114' '05.15.2120' '05.15.2138' '05.15.3104' '05.66.3237'
 '05.66.3571' '10' '10.22.1770' '10.22.1780' '8.5.3']

In [15]:
train_err.fwver = train_err.fwver.apply(lambda x : x[0:5])
train_err.fwver.unique()

array(['05.15', '04.33', '04.22', '04.16', '05.66', '03.11', '04.82',
       '04.73', '10', '8.5.3'], dtype=object)

In [16]:
test_err.fwver = test_err.fwver.apply(lambda x : x[0:5])
test_err.fwver.unique()

array(['04.16', '04.33', '05.15', '04.22', '03.11', '04.82', '10',
       '05.66', '04.73', '8.5.3', '10.22'], dtype=object)

In [17]:
test_err.fwver = test_err.fwver.replace('10.22', '10')

In [18]:
len(np.sort(train_err.fwver.unique()))

10

In [19]:
len(np.sort(test_err.fwver.unique()))

10

### errcode 상위 40개 추려내기

In [20]:
pd.value_counts(train_err['errcode'].values, sort=True)

1                     8906967
0                     2599123
connection timeout    1835600
B-A8002                897863
80                     334018
                       ...
5046                        1
3429                        1
16158                       1
5007                        1
51324                       1
Length: 2805, dtype: int64

In [21]:
pd.value_counts(test_err['errcode'].values, sort=True)

1                     8750154
0                     2565532
connection timeout    1890632
B-A8002                855747
80                     326179
                       ...
5466                        1
5396                        1
6051                        1
72543                       1
15972                       1
Length: 2955, dtype: int64

In [22]:
errcode_list_41 = pd.value_counts(train_err['errcode'].values, sort=True).index[:41].tolist()
errcode_list_41

['1',
 '0',
 'connection timeout',
 'B-A8002',
 '80',
 '79',
 '14',
 'active',
 '2',
 '84',
 '85',
 'standby',
 'NFANDROID2',
 'connection fail to establish',
 '3',
 '90',
 '89',
 'S-61001',
 '95',
 '94',
 '4',
 '13',
 'Q-64002',
 '8.0',
 '6',
 '5',
 '78',
 '81',
 '86',
 'connectionterminated by local host',
 'UNKNOWN',
 '100',
 'terminate by peer user',
 '99',
 '83',
 'V-21008',
 'S-65002',
 '87',
 '88',
 'H-51042',
 '82']

In [23]:
# ERR_CODE TOP 41개를제외하고 나머지는 etc로 통일
def err_func(err_code):
    if(err_code in errcode_list_41):
        return err_code
    else:
        return 'etc'

In [24]:
train_err['errcode'] = train_err['errcode'].apply(lambda x : err_func(x))

In [25]:
test_err['errcode'] = test_err['errcode'].apply(lambda x : err_func(x))

In [26]:
train_err['errcode'].unique()

array(['1', '0', '2', 'NFANDROID2', 'B-A8002', '14', '4', '13', '3',
       '8.0', 'standby', 'active', 'Q-64002', 'connection timeout',
       'S-61001', 'etc', 'terminate by peer user',
       'connection fail to establish', '80', '79', '81', '86', '84',
       'connectionterminated by local host', '78', 'UNKNOWN', '85', '90',
       '89', '88', 'V-21008', '83', '95', '94', '87', '82', 'S-65002',
       '6', '5', 'H-51042', '100', '99'], dtype=object)

In [27]:
len(train_err['errcode'].unique())

42

In [28]:
len(test_err['errcode'].unique())

42

## 라벨 달아주기

In [29]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [30]:
train_err_label = train_err[['model_nm','fwver','errcode']].apply(le.fit_transform)

In [31]:
train_err_model = pd.DataFrame()
train_err_model['model_nm'] = train_err_label['model_nm']
train_err_model['user_id'] = train_err['user_id']

In [32]:
train_err_fwver = pd.DataFrame()
train_err_fwver['fwver'] = train_err_label['fwver']
train_err_fwver['user_id'] = train_err['user_id']

In [33]:
train_err_code = pd.DataFrame()
train_err_code['errcode'] = train_err_label['errcode']
train_err_code['user_id'] = train_err['user_id']

In [34]:
test_err_label = test_err[['model_nm','fwver','errcode']].apply(le.fit_transform) 
test_err_model = pd.DataFrame()
test_err_model['model_nm'] = test_err_label['model_nm']
test_err_model['user_id'] = test_err['user_id']
test_err_fwver = pd.DataFrame()
test_err_fwver['fwver'] = test_err_label['fwver']
test_err_fwver['user_id'] = test_err['user_id']
test_err_code = pd.DataFrame()
test_err_code['errcode'] = test_err_label['errcode']
test_err_code['user_id'] = test_err['user_id']

### Quality 데이터 가공

#### 1. 퀄리티 데이터를 얼마나 조회했는가
#### 2. 퀄리티 데이터의 평균 정보 입력

In [200]:
train_quality = train_quality.fillna(0)
train_quality = train_quality.replace(np.nan,0)
#train_quality = train_quality.apply(pd.to_numeric)
train_quality.quality_5 = train_quality.quality_5.str.replace(',', '').astype('int64')
train_quality.quality_7 = train_quality.quality_7.str.replace(',', '').astype('int64')
train_quality.quality_8 = train_quality.quality_8.str.replace(',', '').astype('int64')
train_quality.quality_9 = train_quality.quality_9.str.replace(',', '').astype('int64')
train_quality.quality_10 = train_quality.quality_10.str.replace(',', '').astype('int64')

In [55]:
cols = train_quality.columns
cols = [x for x in cols if 'quality' in x]

In [57]:
cols

['quality_0',
 'quality_1',
 'quality_2',
 'quality_3',
 'quality_4',
 'quality_5',
 'quality_6',
 'quality_7',
 'quality_8',
 'quality_9',
 'quality_10',
 'quality_11',
 'quality_12']

In [157]:
tq = train_quality.groupby(['user_id','time']).nunique()-1
tq = tq.reset_index()
tq.drop(['fwver'],1,inplace=True)
tq

,user_id,time,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,10000,20201129090000,0,0,0,0,0,1,0,0,0,0,0,0,0
1,10000,20201130210000,0,0,0,0,0,1,0,0,0,0,0,0,0
2,10002,20201104110000,1,0,1,0,0,0,0,0,0,0,0,0,0
3,10002,20201106010000,0,0,0,0,0,1,0,0,0,0,0,0,0
4,10002,20201111010000,0,0,0,0,0,2,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68947,24993,20201130203000,1,1,1,0,0,2,1,0,0,0,0,1,0
68948,24995,20201128202000,1,1,1,0,0,2,1,0,0,0,0,1,0
68949,24995,20201129002000,1,1,1,0,0,2,1,0,0,0,0,1,0
68950,24997,20201108230000,1,1,1,0,0,2,1,0,0,0,0,1,0
68951,24997,20201124033000,0,0,0,0,0,4,0,0,0,0,0,0,0

In [162]:
#퀄리티 데이터가 없는 데이터프레임
df_no_q = pd.DataFrame(columns=tq.columns)
no_q_user_id = list(set(list(range(train_user_id_min, train_user_id_max+1))) - set(tq.user_id.unique()))
df_no_q['user_id'] = no_q_user_id
df_no_q = df_no_q.fillna(0)
df_no_q

,user_id,time,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,10001,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,10003,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,10007,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,10008,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,10009,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6714,24991,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6715,24994,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6716,24996,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6717,24998,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6718,24999,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [163]:
#퀄리티 데이터의 카운트
tq_count = tq.groupby('user_id').count()
tq_count = tq_count.reset_index()
#tq_count = np.asarray(tq_count['time'])
#tq_count = tq_count.reshape(-1,1)
tq_count

,user_id,time,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,10000,2,2,2,2,2,2,2,2,2,2,2,2,2,2
1,10002,8,8,8,8,8,8,8,8,8,8,8,8,8,8
2,10004,2,2,2,2,2,2,2,2,2,2,2,2,2,2
3,10005,2,2,2,2,2,2,2,2,2,2,2,2,2,2
4,10006,3,3,3,3,3,3,3,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8276,24990,2,2,2,2,2,2,2,2,2,2,2,2,2,2
8277,24992,3,3,3,3,3,3,3,3,3,3,3,3,3,3
8278,24993,2,2,2,2,2,2,2,2,2,2,2,2,2,2
8279,24995,2,2,2,2,2,2,2,2,2,2,2,2,2,2
8280,24997,2,2,2,2,2,2,2,2,2,2,2,2,2,2

In [166]:
df_tq_count = pd.concat([df_no_q,tq_count]) 
df_tq_count = df_tq_count.sort_values('user_id').reset_index()
df_tq_count.drop("index",1,inplace=True)
df_tq_count

,user_id,time,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,10000,2,2,2,2,2,2,2,2,2,2,2,2,2,2
1,10001,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,10002,8,8,8,8,8,8,8,8,8,8,8,8,8,8
3,10003,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,10004,2,2,2,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,24995,2,2,2,2,2,2,2,2,2,2,2,2,2,2
14996,24996,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14997,24997,2,2,2,2,2,2,2,2,2,2,2,2,2,2
14998,24998,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14999,24999,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [167]:
#Quality Data의 변화를 알아 보는 데이터
tq = tq.groupby('user_id')[cols].sum().reset_index()
tq

,user_id,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,10000,0,0,0,0,0,2,0,0,0,0,0,0,0
1,10002,2,1,2,0,0,12,3,0,0,0,0,1,0
2,10004,1,1,1,0,0,4,2,0,0,0,0,1,0
3,10005,1,1,1,0,0,4,2,0,0,0,0,1,0
4,10006,0,0,0,0,0,3,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8276,24990,-2,1,1,0,0,3,1,0,0,0,0,1,0
8277,24992,2,2,2,0,0,6,2,0,0,0,0,2,0
8278,24993,2,2,2,0,0,4,2,0,0,0,0,2,0
8279,24995,2,2,2,0,0,4,2,0,0,0,0,2,0
8280,24997,1,1,1,0,0,6,1,0,0,0,0,1,0

In [307]:
df_tq_change = pd.concat([tq,df_no_q]) 
df_tq_change = df_tq_change.sort_values('user_id').reset_index()
df_tq_change.drop("index",1,inplace=True)
df_tq_change.drop("user_id",1,inplace=True)
df_tq_change.drop("time",1,inplace=True)
df_tq_change

,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,0,0,0,0,0,2,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2,1,2,0,0,12,3,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,1,1,0,0,4,2,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,2,2,2,0,0,4,2,0,0,0,0,2,0
14996,0,0,0,0,0,0,0,0,0,0,0,0,0
14997,1,1,1,0,0,6,1,0,0,0,0,1,0
14998,0,0,0,0,0,0,0,0,0,0,0,0,0
14999,0,0,0,0,0,0,0,0,0,0,0,0,0

In [205]:
#Quality Data의 합을 알아 보는 데이터
tq_sum = train_quality.groupby(['user_id','time']).sum()
tq_sum

                        quality_0  quality_1  quality_2  quality_3  quality_4  \
user_id time
10000   20201129090000        0.0          0        0.0          0          0
        20201130210000        0.0          0        0.0          0          0
10002   20201104110000        2.0          0        1.0          0          0
        20201106010000        0.0          0        0.0          0          0
        20201111010000        0.0          0        0.0          0          0
...                           ...        ...        ...        ...        ...
24993   20201130203000       -3.0         -3       -3.0          0          0
24995   20201128202000       -8.0         -8       -8.0          0          0
        20201129002000       -2.0         -2       -2.0          0          0
24997   20201108230000       -4.0         -4       -4.0          0          0
        20201124033000        0.0          0        0.0          0          0

                        quality_5  quality_6  quality_7  quality_8  quality_9  \
user_id time
10000   20201129090000          4          0          0          0        0.0
        20201130210000          8          0          0          0        0.0
10002   20201104110000          0          0          0          0       12.0
        20201106010000          2          0          0          0        0.0
        20201111010000          4          2         24          0        0.0
...                           ...        ...        ...        ...        ...
24993   20201130203000          2         -3          0          0        0.0
24995   20201128202000         -6         -8          0          0        0.0
        20201129002000          1         -2          0          0        0.0
24997   20201108230000         -2         -4          0          0        0.0
        20201124033000         17          0          0          0        0.0

                        quality_10  quality_11  quality_12
user_id time
10000   20201129090000        48.0           0           0
        20201130210000        96.0           0           0
10002   20201104110000         0.0           0           0
        20201106010000        24.0           0           0
        20201111010000        48.0           0           0
...                            ...         ...         ...
24993   20201130203000        60.0          -3           0
24995   20201128202000        24.0          -8           0
        20201129002000        36.0          -2           0
24997   20201108230000        24.0          -4           0
        20201124033000       204.0           0           0

[68952 rows x 13 columns]

In [206]:
tq_sum = tq_sum.groupby('user_id')[cols].sum().reset_index()
tq_sum

,user_id,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,10000,0.0,0,0.0,0,0,12,0,0,0,0.0,144.0,0,0
1,10002,0.0,-2,-1.0,0,0,29,44,552,0,12.0,372.0,-2,0
2,10004,-2.0,-2,-2.0,0,0,2,85,1044,0,0.0,48.0,-2,0
3,10005,-10.0,-10,-10.0,0,0,0,26,432,0,0.0,120.0,-10,0
4,10006,0.0,0,0.0,0,0,12,4,48,0,0.0,144.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8276,24990,0.0,-8,-8.0,0,0,-6,-8,0,0,0.0,24.0,-8,0
8277,24992,-12.0,-12,-12.0,0,0,7,-12,0,0,0.0,228.0,-12,0
8278,24993,-7.0,-7,-7.0,0,0,1,-7,0,0,0.0,96.0,-7,0
8279,24995,-10.0,-10,-10.0,0,0,-5,-10,0,0,0.0,60.0,-10,0
8280,24997,-4.0,-4,-4.0,0,0,15,-4,0,0,0.0,228.0,-4,0

In [208]:
df_tq_sum = pd.concat([tq_sum,df_no_q]) 
df_tq_sum = df_tq_sum.sort_values('user_id').reset_index()
df_tq_sum.drop("index",1,inplace=True)
df_tq_sum.drop("user_id",1,inplace=True)
df_tq_sum.drop('time',1,inplace=True)
df_tq_sum

,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,0.0,0,0.0,0,0,12,0,0,0,0.0,144.0,0,0
1,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0,0,0
2,0.0,-2,-1.0,0,0,29,44,552,0,12.0,372.0,-2,0
3,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0,0,0
4,-2.0,-2,-2.0,0,0,2,85,1044,0,0.0,48.0,-2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,-10.0,-10,-10.0,0,0,-5,-10,0,0,0.0,60.0,-10,0
14996,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0,0,0
14997,-4.0,-4,-4.0,0,0,15,-4,0,0,0.0,228.0,-4,0
14998,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0,0,0
14999,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0,0,0

In [201]:
#Quality Data의 평균을 알아 보는 데이터
tq_mean = train_quality.groupby(['user_id','time']).mean()
tq_mean = tq_mean.reset_index()
tq_mean

,user_id,time,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,10000,20201129090000,0.000000,0.000000,0.000000,0.0,0.0,0.333333,0.000000,0.0,0.0,0.0,4.0,0.000000,0.0
1,10000,20201130210000,0.000000,0.000000,0.000000,0.0,0.0,0.666667,0.000000,0.0,0.0,0.0,8.0,0.000000,0.0
2,10002,20201104110000,0.166667,0.000000,0.083333,0.0,0.0,0.000000,0.000000,0.0,0.0,1.0,0.0,0.000000,0.0
3,10002,20201106010000,0.000000,0.000000,0.000000,0.0,0.0,0.166667,0.000000,0.0,0.0,0.0,2.0,0.000000,0.0
4,10002,20201111010000,0.000000,0.000000,0.000000,0.0,0.0,0.333333,0.166667,2.0,0.0,0.0,4.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68947,24993,20201130203000,-0.250000,-0.250000,-0.250000,0.0,0.0,0.166667,-0.250000,0.0,0.0,0.0,5.0,-0.250000,0.0
68948,24995,20201128202000,-0.666667,-0.666667,-0.666667,0.0,0.0,-0.500000,-0.666667,0.0,0.0,0.0,2.0,-0.666667,0.0
68949,24995,20201129002000,-0.166667,-0.166667,-0.166667,0.0,0.0,0.083333,-0.166667,0.0,0.0,0.0,3.0,-0.166667,0.0
68950,24997,20201108230000,-0.333333,-0.333333,-0.333333,0.0,0.0,-0.166667,-0.333333,0.0,0.0,0.0,2.0,-0.333333,0.0
68951,24997,20201124033000,0.000000,0.000000,0.000000,0.0,0.0,1.416667,0.000000,0.0,0.0,0.0,17.0,0.000000,0.0

In [209]:
tq_mean = tq_mean.groupby('user_id')[cols].sum().reset_index()
tq_mean

,user_id,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,10000,0.000000,0.000000,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.0,12.0,0.000000,0.0
1,10002,0.000000,-0.166667,-0.083333,0.0,0.0,2.416667,3.666667,46.0,0.0,1.0,31.0,-0.166667,0.0
2,10004,-0.166667,-0.166667,-0.166667,0.0,0.0,0.166667,7.083333,87.0,0.0,0.0,4.0,-0.166667,0.0
3,10005,-0.833333,-0.833333,-0.833333,0.0,0.0,0.000000,2.166667,36.0,0.0,0.0,10.0,-0.833333,0.0
4,10006,0.000000,0.000000,0.000000,0.0,0.0,1.000000,0.333333,4.0,0.0,0.0,12.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8276,24990,0.000000,-0.666667,-0.666667,0.0,0.0,-0.500000,-0.666667,0.0,0.0,0.0,2.0,-0.666667,0.0
8277,24992,-1.000000,-1.000000,-1.000000,0.0,0.0,0.583333,-1.000000,0.0,0.0,0.0,19.0,-1.000000,0.0
8278,24993,-0.583333,-0.583333,-0.583333,0.0,0.0,0.083333,-0.583333,0.0,0.0,0.0,8.0,-0.583333,0.0
8279,24995,-0.833333,-0.833333,-0.833333,0.0,0.0,-0.416667,-0.833333,0.0,0.0,0.0,5.0,-0.833333,0.0
8280,24997,-0.333333,-0.333333,-0.333333,0.0,0.0,1.250000,-0.333333,0.0,0.0,0.0,19.0,-0.333333,0.0

In [210]:
df_tq_mean = pd.concat([tq_mean,df_no_q]) 
df_tq_mean = df_tq_mean.sort_values('user_id').reset_index()
df_tq_mean.drop("index",1,inplace=True)
df_tq_mean.drop("user_id",1,inplace=True)
df_tq_mean.drop('time',1,inplace=True)
df_tq_mean

,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,0.000000,0.000000,0.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.0,12.0,0.000000,0.0
1,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
2,0.000000,-0.166667,-0.083333,0.0,0.0,2.416667,3.666667,46.0,0.0,1.0,31.0,-0.166667,0.0
3,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
4,-0.166667,-0.166667,-0.166667,0.0,0.0,0.166667,7.083333,87.0,0.0,0.0,4.0,-0.166667,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,-0.833333,-0.833333,-0.833333,0.0,0.0,-0.416667,-0.833333,0.0,0.0,0.0,5.0,-0.833333,0.0
14996,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
14997,-0.333333,-0.333333,-0.333333,0.0,0.0,1.250000,-0.333333,0.0,0.0,0.0,19.0,-0.333333,0.0
14998,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
14999,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0

In [310]:
quality_error = np.hstack([np.asarray(df_tq_change),np.asarray(df_tq_count['time']).reshape(-1,1),np.asarray(df_tq_sum),np.asarray(df_tq_mean)])
quality_error

array([[ 0.        ,  0.        ,  0.        , ..., 12.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 2.        ,  1.        ,  2.        , ..., 31.        ,
        -0.16666667,  0.        ],
       ...,
       [ 1.        ,  1.        ,  1.        , ..., 19.        ,
        -0.33333333,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

In [311]:
quality_error.shape

(15000, 40)

### errtype 데이터 생성

In [220]:
# user_id와 errtype만을 사용하여 데이터 셋 생성
# 모든 일자에 대해서 errtype별 발생 건수를 count
# pandas의 groupby를 활용할 경우 큰 연산 자원이 필요.
# numpy로 placeholder를 만들어 구현함.
id_type_error = train_err[['user_id','errtype']].values
type_error = np.zeros((train_user_number,42)) # 42 + 35 + 8 + 2(errcode)

for person_idx, err in tqdm(id_type_error):
    # person_idx - train_user_id_min 위치에 person_idx, errtype에 해당하는 error값을 +1
    type_error[person_idx - train_user_id_min,err - 1] += 1
type_error.shape

100%|██████████████████████████████████████████████████████████████████| 16554663/16554663 [00:46<00:00, 355021.18it/s]

(15000, 42)

### model_nm 데이터 생성

In [221]:
id_model_error = train_err_model[['user_id','model_nm']].values
model_error = np.zeros((train_user_number,9)) # 모델 카테고리 9개

for person_idx, err in tqdm(id_model_error):
    model_error[person_idx - train_user_id_min,err - 1] += 1
model_error.shape

100%|██████████████████████████████████████████████████████████████████| 16554663/16554663 [00:48<00:00, 341871.31it/s]

(15000, 9)

### fwver 데이터 생성

In [222]:
id_fwver_error = train_err_fwver[['user_id','fwver']].values
fwver_error = np.zeros((train_user_number,10)) # 펌웨어 카테고리 10개

for person_idx, err in tqdm(id_fwver_error):
    fwver_error[person_idx - train_user_id_min,err - 1] += 1
fwver_error.shape

100%|██████████████████████████████████████████████████████████████████| 16554663/16554663 [00:46<00:00, 357953.00it/s]

(15000, 10)

### errcode 데이터 생성

In [223]:
id_code_error = train_err_code[['user_id','errcode']].values
code_error = np.zeros((train_user_number,42)) # code 카테고리 42개

for person_idx, err in tqdm(id_code_error):
    code_error[person_idx - train_user_id_min,err - 1] += 1
code_error.shape

100%|██████████████████████████████████████████████████████████████████| 16554663/16554663 [00:46<00:00, 354228.86it/s]

(15000, 42)

In [231]:
type_error

array([[  0.,   0.,   8., ...,   0.,   0.,   0.],
       [  0.,   0.,   0., ..., 113.,  56.,   1.],
       [  0.,   0.,   2., ...,   0.,   0.,   0.],
       ...,
       [  0.,   0.,   0., ...,  58.,   8.,   5.],
       [  0.,   0.,   0., ...,   6.,   0.,   0.],
       [  0.,   0.,   4., ...,   0.,   0.,   0.]])

In [232]:
model_error

array([[   0.,    0.,  317., ...,    0.,    0.,    0.],
       [   0., 2365.,    0., ...,    0.,    0.,    0.],
       [   0.,    0.,  306., ...,    0.,    0.,    0.],
       ...,
       [   0.,    0.,    0., ...,    0.,    0.,  826.],
       [   0.,    0.,    0., ...,    0.,    0.,  155.],
       [   0.,    0.,  570., ...,    0.,    0.,    0.]])

In [233]:
fwver_error

array([[   0.,    0.,    0., ...,    0.,    0.,    0.],
       [   0.,    0., 2365., ...,    0.,    0.,    0.],
       [   0.,    0.,    0., ...,    0.,    0.,    0.],
       ...,
       [   0.,  826.,    0., ...,    0.,    0.,    0.],
       [   0.,  155.,    0., ...,    0.,    0.,    0.],
       [   0.,    0.,    0., ...,    0.,    0.,    0.]])

In [234]:
code_error

array([[2.120e+02, 0.000e+00, 0.000e+00, ..., 0.000e+00, 0.000e+00,
        1.040e+02],
       [1.274e+03, 0.000e+00, 1.000e+00, ..., 6.250e+02, 0.000e+00,
        1.830e+02],
       [1.720e+02, 0.000e+00, 0.000e+00, ..., 0.000e+00, 0.000e+00,
        1.320e+02],
       ...,
       [5.980e+02, 0.000e+00, 1.000e+00, ..., 1.100e+01, 0.000e+00,
        1.460e+02],
       [1.250e+02, 0.000e+00, 0.000e+00, ..., 0.000e+00, 0.000e+00,
        1.300e+01],
       [3.670e+02, 0.000e+00, 0.000e+00, ..., 0.000e+00, 0.000e+00,
        1.920e+02]])

In [228]:
train_prob = pd.read_csv(PATH+'train_problem_data.csv')
problem = np.zeros(15000)
# error와 동일한 방법으로 person_idx - 10000 위치에 
# person_idx의 problem이 한 번이라도 발생했다면 1
# 없다면 0
problem[train_prob.user_id.unique()-10000] = 1 
problem.shape

(15000,)

In [229]:
problem

array([0., 1., 0., ..., 1., 1., 0.])

In [314]:
# 변수 이름 변경
# error  -> train_x
# problem-> train_y

train_x = np.hstack([type_error, model_error,fwver_error,code_error,quality_error])#error
train_y = problem
print(train_x.shape)
print(train_y.shape)

(15000, 143)
(15000,)

In [315]:
train = pd.DataFrame(data=train_x)
train['problem'] = problem

In [316]:
clf = setup(data = train, target = 'problem')

In [317]:
best = compare_models(sort = 'AUC', n_select = 5)

In [318]:
blended = blend_models(estimator_list = best, fold = 5, method = 'soft')

In [319]:
pred_holdout = predict_model(blended)

In [320]:
#final_model = best
final_model = finalize_model(blended)

### TEST 데이터 시작

In [242]:
test_quality.dtypes

time            int64
user_id         int64
fwver          object
quality_0     float64
quality_1      object
quality_2     float64
quality_3       int64
quality_4       int64
quality_5      object
quality_6       int64
quality_7      object
quality_8      object
quality_9      object
quality_10     object
quality_11      int64
quality_12      int64
dtype: object

In [248]:
test_quality = test_quality.fillna(0)
test_quality = test_quality.replace(np.nan,0)
train_quality = train_quality.apply(pd.to_numeric)
test_quality.quality_1 = test_quality.quality_1.str.replace(',', '').astype('float32')
test_quality.quality_5 = test_quality.quality_5.str.replace(',', '').astype('float32')
test_quality.quality_7 = test_quality.quality_7.str.replace(',', '').astype('int64')
test_quality.quality_8 = test_quality.quality_8.str.replace(',', '').astype('float32')
test_quality.quality_9 = test_quality.quality_9.str.replace(',', '').astype('float32')
test_quality.quality_10 = test_quality.quality_10.str.replace(',', '').astype('int64')

In [266]:
teq = test_quality.groupby(['user_id','time']).nunique()-1
teq = teq.reset_index()
teq.drop('fwver',1,inplace=True)
teq

,user_id,time,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,30000,20201128195000,0,0,0,0,0,1,1,0,0,0,0,0,0
1,30001,20201102202000,1,0,1,0,0,2,1,0,0,0,0,1,0
2,30001,20201104202000,0,0,0,0,0,2,0,0,0,0,0,0,0
3,30001,20201112040000,0,0,0,0,0,3,0,0,0,0,0,0,0
4,30002,20201101000000,0,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62257,44996,20201125011000,0,0,0,0,0,2,0,0,0,-1,0,0,0
62258,44996,20201126011000,1,0,1,0,0,3,1,0,0,-1,0,1,0
62259,44996,20201127111000,1,0,1,0,0,2,1,0,0,-1,0,1,0
62260,44997,20201102214000,0,0,0,0,0,2,0,0,0,-1,0,0,0
62261,44997,20201125180000,0,0,0,0,0,2,0,0,0,-1,0,0,0

In [267]:
#퀄리티 데이터가 없는 데이터프레임
no_teq_user_id = list(set(list(range(test_user_id_min, test_user_id_max+1))) - set(teq.user_id.unique()))
df_no_tq = pd.DataFrame(columns=teq.columns)
df_no_tq['user_id'] = no_teq_user_id
df_no_tq = df_no_tq.fillna(0)
df_no_tq

,user_id,time,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,32768,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,32773,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,32776,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,32780,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,32782,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6726,32759,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6727,32760,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6728,32762,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6729,32763,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6730,32766,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [287]:
#퀄리티 데이터의 카운트
teq_count = teq.groupby('user_id').count()
teq_count = teq_count.reset_index()
teq_count

,index,user_id,time,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,0,30000,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,1,30001,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2,2,30002,10,10,10,10,10,10,10,10,10,10,10,10,10,10
3,3,30003,5,5,5,5,5,5,5,5,5,5,5,5,5,5
4,4,30004,2,2,2,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8263,8263,44990,3,3,3,3,3,3,3,3,3,3,3,3,3,3
8264,8264,44993,4,4,4,4,4,4,4,4,4,4,4,4,4,4
8265,8265,44994,1,1,1,1,1,1,1,1,1,1,1,1,1,1
8266,8266,44996,9,9,9,9,9,9,9,9,9,9,9,9,9,9
8267,8267,44997,2,2,2,2,2,2,2,2,2,2,2,2,2,2

In [288]:
df_teq_count = pd.concat([df_no_tq,teq_count]) 
df_teq_count = df_teq_count.sort_values('user_id').reset_index()
df_teq_count.drop("index",1,inplace=True)
df_teq_count

,user_id,time,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,30000,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,30001,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2,30002,10,10,10,10,10,10,10,10,10,10,10,10,10,10
3,30003,5,5,5,5,5,5,5,5,5,5,5,5,5,5
4,30004,2,2,2,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,44994,1,1,1,1,1,1,1,1,1,1,1,1,1,1
14995,44995,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14996,44996,9,9,9,9,9,9,9,9,9,9,9,9,9,9
14997,44997,2,2,2,2,2,2,2,2,2,2,2,2,2,2
14998,44998,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [269]:
#Quality Data의 변화를 알아 보는 데이터
teq = teq.groupby('user_id')[cols].sum().reset_index()
teq

,user_id,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,30000,0,0,0,0,0,1,1,0,0,0,0,0,0
1,30001,1,0,1,0,0,7,1,0,0,0,0,1,0
2,30002,3,0,3,0,0,16,3,0,0,0,0,3,0
3,30003,0,0,0,0,0,5,5,0,0,0,0,0,0
4,30004,1,0,1,0,0,2,3,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8263,44990,2,0,2,0,0,7,2,0,0,-3,0,2,0
8264,44993,4,0,4,0,0,6,5,0,0,-4,0,1,0
8265,44994,1,0,1,0,0,1,1,0,0,-1,0,1,0
8266,44996,2,0,2,0,0,16,2,0,0,-9,0,2,0
8267,44997,0,0,0,0,0,4,0,0,0,-2,0,0,0

In [304]:
df_teq_change = pd.concat([teq,df_no_tq]) 
df_teq_change = df_teq_change.sort_values('user_id').reset_index()
df_teq_change.drop("index",1,inplace=True)
df_teq_change.drop("user_id",1,inplace=True)
df_teq_change.drop("time",1,inplace=True)
df_teq_change

,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,0,0,0,0,0,1,1,0,0,0,0,0,0
1,1,0,1,0,0,7,1,0,0,0,0,1,0
2,3,0,3,0,0,16,3,0,0,0,0,3,0
3,0,0,0,0,0,5,5,0,0,0,0,0,0
4,1,0,1,0,0,2,3,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,1,0,1,0,0,1,1,0,0,-1,0,1,0
14995,0,0,0,0,0,0,0,0,0,0,0,0,0
14996,2,0,2,0,0,16,2,0,0,-9,0,2,0
14997,0,0,0,0,0,4,0,0,0,-2,0,0,0
14998,0,0,0,0,0,0,0,0,0,0,0,0,0

In [280]:
#Quality Data의 합을 알아 보는 데이터
teq_sum = test_quality.groupby(['user_id','time']).sum()
teq_sum

                        quality_0  quality_1  quality_2  quality_3  quality_4  \
user_id time
30000   20201128195000        0.0        0.0        0.0          0          0
30001   20201102202000       -9.0        0.0       -9.0          0          0
        20201104202000        0.0        0.0        0.0          0          0
        20201112040000        0.0        0.0        0.0          0          0
30002   20201101000000        0.0        0.0        0.0          0          0
...                           ...        ...        ...        ...        ...
44996   20201125011000        0.0        0.0        0.0          0          0
        20201126011000       -3.0        0.0       -3.0          0          0
        20201127111000       -2.0        0.0       -2.0          0          0
44997   20201102214000        0.0        0.0        0.0          0          0
        20201125180000        0.0        0.0        0.0          0          0

                        quality_5  quality_6  quality_7  quality_8  quality_9  \
user_id time
30000   20201128195000        2.0          5         60        0.0        0.0
30001   20201102202000       -6.0         -9          0        0.0        0.0
        20201104202000        4.0          0          0        0.0        0.0
        20201112040000     2556.0          0          0        0.0        0.0
30002   20201101000000        6.0          0          0        0.0        0.0
...                           ...        ...        ...        ...        ...
44996   20201125011000        9.0          0          0        0.0        0.0
        20201126011000        2.0         -3          0        0.0        0.0
        20201127111000        0.0         -2          0        0.0        0.0
44997   20201102214000       10.0          0          0        0.0        0.0
        20201125180000        3.0          0          0        0.0        0.0

                        quality_10  quality_11  quality_12
user_id time
30000   20201128195000          24           0           0
30001   20201102202000          36          -9           0
        20201104202000          48           0           0
        20201112040000       30672           0           0
30002   20201101000000          72           0           0
...                            ...         ...         ...
44996   20201125011000         108           0           0
        20201126011000          60          -3           0
        20201127111000          24          -2           0
44997   20201102214000         120           0           0
        20201125180000          36           0           0

[62262 rows x 13 columns]

In [281]:
teq_sum = teq_sum.groupby('user_id')[cols].sum().reset_index()
teq_sum

,user_id,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,30000,0.0,0.0,0.0,0,0,2.0,5,60,0.0,0.0,24,0,0
1,30001,-9.0,0.0,-9.0,0,0,2554.0,-9,0,0.0,0.0,30756,-9,0
2,30002,-15.0,0.0,-15.0,0,0,118.0,-15,0,0.0,0.0,1596,-15,0
3,30003,0.0,0.0,0.0,0,0,12.0,220,2640,0.0,0.0,144,0,0
4,30004,-6.0,0.0,-6.0,0,0,-4.0,27,396,0.0,0.0,24,-6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8263,44990,-4.0,0.0,-4.0,0,0,46.0,-4,0,0.0,0.0,600,-4,0
8264,44993,7.0,0.0,7.0,0,0,12.0,107,1308,0.0,0.0,168,-2,0
8265,44994,-11.0,0.0,-11.0,0,0,-9.0,-11,0,0.0,0.0,24,-11,0
8266,44996,-5.0,0.0,-5.0,0,0,32.0,-5,0,0.0,0.0,444,-5,0
8267,44997,0.0,0.0,0.0,0,0,13.0,0,0,0.0,0.0,156,0,0

In [282]:
df_teq_sum = pd.concat([teq_sum,df_no_tq]) 
df_teq_sum = df_teq_sum.sort_values('user_id').reset_index()
df_teq_sum.drop("index",1,inplace=True)
df_teq_sum.drop("user_id",1,inplace=True)
df_teq_sum.drop('time',1,inplace=True)
df_teq_sum

,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,0.0,0.0,0.0,0,0,2.0,5,60,0.0,0.0,24,0,0
1,-9.0,0.0,-9.0,0,0,2554.0,-9,0,0.0,0.0,30756,-9,0
2,-15.0,0.0,-15.0,0,0,118.0,-15,0,0.0,0.0,1596,-15,0
3,0.0,0.0,0.0,0,0,12.0,220,2640,0.0,0.0,144,0,0
4,-6.0,0.0,-6.0,0,0,-4.0,27,396,0.0,0.0,24,-6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,-11.0,0.0,-11.0,0,0,-9.0,-11,0,0.0,0.0,24,-11,0
14995,0.0,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0,0,0
14996,-5.0,0.0,-5.0,0,0,32.0,-5,0,0.0,0.0,444,-5,0
14997,0.0,0.0,0.0,0,0,13.0,0,0,0.0,0.0,156,0,0
14998,0.0,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0,0,0

In [283]:
#Quality Data의 평균을 알아 보는 데이터
teq_mean = test_quality.groupby(['user_id','time']).mean()
teq_mean = teq_mean.reset_index()
teq_mean

,user_id,time,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,30000,20201128195000,0.000000,0.0,0.000000,0.0,0.0,0.166667,0.416667,5.0,0.0,0.0,2.0,0.000000,0.0
1,30001,20201102202000,-0.750000,0.0,-0.750000,0.0,0.0,-0.500000,-0.750000,0.0,0.0,0.0,3.0,-0.750000,0.0
2,30001,20201104202000,0.000000,0.0,0.000000,0.0,0.0,0.333333,0.000000,0.0,0.0,0.0,4.0,0.000000,0.0
3,30001,20201112040000,0.000000,0.0,0.000000,0.0,0.0,213.000000,0.000000,0.0,0.0,0.0,2556.0,0.000000,0.0
4,30002,20201101000000,0.000000,0.0,0.000000,0.0,0.0,0.500000,0.000000,0.0,0.0,0.0,6.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62257,44996,20201125011000,0.000000,0.0,0.000000,0.0,0.0,0.750000,0.000000,0.0,0.0,NaN,9.0,0.000000,0.0
62258,44996,20201126011000,-0.250000,0.0,-0.250000,0.0,0.0,0.166667,-0.250000,0.0,0.0,NaN,5.0,-0.250000,0.0
62259,44996,20201127111000,-0.166667,0.0,-0.166667,0.0,0.0,0.000000,-0.166667,0.0,0.0,NaN,2.0,-0.166667,0.0
62260,44997,20201102214000,0.000000,0.0,0.000000,0.0,0.0,0.833333,0.000000,0.0,0.0,NaN,10.0,0.000000,0.0
62261,44997,20201125180000,0.000000,0.0,0.000000,0.0,0.0,0.250000,0.000000,0.0,0.0,NaN,3.0,0.000000,0.0

In [284]:
teq_mean = teq_mean.groupby('user_id')[cols].sum().reset_index()
teq_mean

,user_id,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,30000,0.000000,0.0,0.000000,0.0,0.0,0.166667,0.416667,5.0,0.0,0.0,2.0,0.000000,0.0
1,30001,-0.750000,0.0,-0.750000,0.0,0.0,212.833328,-0.750000,0.0,0.0,0.0,2563.0,-0.750000,0.0
2,30002,-1.250000,0.0,-1.250000,0.0,0.0,9.833333,-1.250000,0.0,0.0,0.0,133.0,-1.250000,0.0
3,30003,0.000000,0.0,0.000000,0.0,0.0,1.000000,18.333333,220.0,0.0,0.0,12.0,0.000000,0.0
4,30004,-0.500000,0.0,-0.500000,0.0,0.0,-0.333333,2.250000,33.0,0.0,0.0,2.0,-0.500000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8263,44990,-0.333333,0.0,-0.333333,0.0,0.0,3.833333,-0.333333,0.0,0.0,0.0,50.0,-0.333333,0.0
8264,44993,0.583333,0.0,0.583333,0.0,0.0,1.000000,8.916667,109.0,0.0,0.0,14.0,-0.166667,0.0
8265,44994,-0.916667,0.0,-0.916667,0.0,0.0,-0.750000,-0.916667,0.0,0.0,0.0,2.0,-0.916667,0.0
8266,44996,-0.416667,0.0,-0.416667,0.0,0.0,2.666667,-0.416667,0.0,0.0,0.0,37.0,-0.416667,0.0
8267,44997,0.000000,0.0,0.000000,0.0,0.0,1.083333,0.000000,0.0,0.0,0.0,13.0,0.000000,0.0

In [285]:
df_teq_mean = pd.concat([teq_mean,df_no_tq]) 
df_teq_mean = df_teq_mean.sort_values('user_id').reset_index()
df_teq_mean.drop("index",1,inplace=True)
df_teq_mean.drop("user_id",1,inplace=True)
df_teq_mean.drop('time',1,inplace=True)
df_teq_mean

,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,0.000000,0.0,0.000000,0.0,0.0,0.166667,0.416667,5.0,0.0,0.0,2.0,0.000000,0.0
1,-0.750000,0.0,-0.750000,0.0,0.0,212.833328,-0.750000,0.0,0.0,0.0,2563.0,-0.750000,0.0
2,-1.250000,0.0,-1.250000,0.0,0.0,9.833333,-1.250000,0.0,0.0,0.0,133.0,-1.250000,0.0
3,0.000000,0.0,0.000000,0.0,0.0,1.000000,18.333333,220.0,0.0,0.0,12.0,0.000000,0.0
4,-0.500000,0.0,-0.500000,0.0,0.0,-0.333333,2.250000,33.0,0.0,0.0,2.0,-0.500000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,-0.916667,0.0,-0.916667,0.0,0.0,-0.750000,-0.916667,0.0,0.0,0.0,2.0,-0.916667,0.0
14995,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
14996,-0.416667,0.0,-0.416667,0.0,0.0,2.666667,-0.416667,0.0,0.0,0.0,37.0,-0.416667,0.0
14997,0.000000,0.0,0.000000,0.0,0.0,1.083333,0.000000,0.0,0.0,0.0,13.0,0.000000,0.0
14998,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0

In [312]:
quality_test_error = np.hstack([np.asarray(df_teq_change),np.asarray(df_teq_count['time']).reshape(-1,1),np.asarray(df_teq_sum),np.asarray(df_teq_mean)])
quality_test_error

array([[ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         2.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 1.00000000e+00,  0.00000000e+00,  1.00000000e+00, ...,
         2.56300000e+03, -7.50000000e-01,  0.00000000e+00],
       [ 3.00000000e+00,  0.00000000e+00,  3.00000000e+00, ...,
         1.33000000e+02, -1.25000000e+00,  0.00000000e+00],
       ...,
       [ 2.00000000e+00,  0.00000000e+00,  2.00000000e+00, ...,
         3.70000000e+01, -4.16666667e-01,  0.00000000e+00],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         1.30000000e+01,  0.00000000e+00,  0.00000000e+00],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00]])

In [324]:
quality_test_error.shape

(14999, 40)

In [290]:
id_test_error = test_err[['user_id','errtype']].values
type_test_error = np.zeros((test_user_number,42))
for person_idx, err in tqdm(id_test_error):
    # person_idx - test_user_id_min 위치에 person_idx, errtype에 해당하는 error값을 +1
    type_test_error[person_idx - test_user_id_min,err - 1] += 1
type_test_error = type_test_error.reshape(type_test_error.shape[0],-1)
print(type_test_error.shape)

100%|██████████████████████████████████████████████████████████████████| 16532648/16532648 [00:51<00:00, 323627.56it/s]

(14999, 42)

### 모델 테스트 데이터 생성

In [291]:
id_test_model_error = test_err_model[['user_id','model_nm']].values
model_test_error = np.zeros((test_user_number,9)) # 모델 카테고리 9개

for person_idx, err in tqdm(id_test_model_error):
    model_test_error[person_idx - test_user_id_min,err - 1] += 1
model_test_error.shape

100%|██████████████████████████████████████████████████████████████████| 16532648/16532648 [00:51<00:00, 320762.22it/s]

(14999, 9)

### 펌웨어 테스트 데이터 생성

In [292]:
id_test_fwver_error = test_err_fwver[['user_id','fwver']].values
fwver_test_error = np.zeros((test_user_number,10)) # fwver 카테고리 10개

for person_idx, err in tqdm(id_test_fwver_error):
    fwver_test_error[person_idx - test_user_id_min,err - 1] += 1
fwver_test_error.shape

100%|██████████████████████████████████████████████████████████████████| 16532648/16532648 [00:50<00:00, 327342.85it/s]

(14999, 10)

### 에러코드 테스트 데이터 생성

In [293]:
id_test_code_error = test_err_code[['user_id','errcode']].values
code_test_error = np.zeros((test_user_number,42)) # errcode 카테고리 42개

for person_idx, err in tqdm(id_test_code_error):
    code_test_error[person_idx - test_user_id_min,err - 1] += 1
code_test_error.shape

100%|██████████████████████████████████████████████████████████████████| 16532648/16532648 [00:50<00:00, 330423.50it/s]

(14999, 42)

In [322]:
test_x = np.hstack([type_test_error, model_test_error, fwver_test_error, code_test_error,quality_test_error])

In [323]:
test_x.shape

(14999, 143)

In [325]:
test = pd.DataFrame(data=test_x)

In [326]:
predictions = predict_model(final_model, data = test)

In [327]:
predictions

,0,1,2,3,4,5,6,7,8,9,...,135,136,137,138,139,140,141,142,Label,Score
0,0.0,0.0,0.0,0.0,62.0,1.0,1.0,0.0,0.0,0.0,...,0.166667,0.416667,5.0,0.0,0.0,2.0,0.000000,0.0,1.0,0.8886
1,0.0,0.0,3.0,98.0,3.0,4.0,4.0,0.0,0.0,0.0,...,212.833328,-0.750000,0.0,0.0,0.0,2563.0,-0.750000,0.0,0.0,0.7734
2,0.0,0.0,0.0,0.0,79.0,2.0,1.0,0.0,0.0,0.0,...,9.833333,-1.250000,0.0,0.0,0.0,133.0,-1.250000,0.0,1.0,0.5149
3,0.0,0.0,0.0,0.0,107.0,2.0,2.0,0.0,0.0,0.0,...,1.000000,18.333333,220.0,0.0,0.0,12.0,0.000000,0.0,1.0,0.8042
4,0.0,0.0,0.0,2.0,6.0,1.0,1.0,0.0,0.0,0.0,...,-0.333333,2.250000,33.0,0.0,0.0,2.0,-0.500000,0.0,1.0,0.7222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.0,0.0,0.0,2.0,12.0,5.0,5.0,0.0,0.0,0.0,...,-0.750000,-0.916667,0.0,0.0,0.0,2.0,-0.916667,0.0,0.0,0.7941
14995,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.7686
14996,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,2.666667,-0.416667,0.0,0.0,0.0,37.0,-0.416667,0.0,1.0,0.7191
14997,0.0,0.0,0.0,1.0,4.0,2.0,2.0,0.0,0.0,0.0,...,1.083333,0.000000,0.0,0.0,0.0,13.0,0.000000,0.0,1.0,0.7960
14998,0.0,0.0,0.0,2.0,14.0,1.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.5937

In [328]:
x = []
for i in range(len(predictions['Score'])):
    if predictions['Label'][i] =='1.0':
        x.append(predictions['Score'][i])
    else:
        x.append(1-predictions['Score'][i])

In [329]:
x

[0.8886,
 0.22660000000000002,
 0.5149,
 0.8042,
 0.7222,
 0.5889,
 0.08120000000000005,
 0.0534,
 0.706,
 0.27969999999999995,
 0.12260000000000004,
 0.1594,
 0.8855,
 0.10960000000000003,
 0.1279,
 0.2811,
 0.2902,
 0.39459999999999995,
 0.3348,
 0.3103,
 0.8466,
 0.4538,
 0.15590000000000004,
 0.13390000000000002,
 0.5183,
 0.29300000000000004,
 0.2801,
 0.15580000000000005,
 0.18179999999999996,
 0.08009999999999995,
 0.23360000000000003,
 0.5758,
 0.2157,
 0.22419999999999995,
 0.36629999999999996,
 0.24309999999999998,
 0.12939999999999996,
 0.34850000000000003,
 0.17300000000000004,
 0.057599999999999985,
 0.29710000000000003,
 0.15869999999999995,
 0.07069999999999999,
 0.08989999999999998,
 0.13790000000000002,
 0.38660000000000005,
 0.27880000000000005,
 0.14290000000000003,
 0.34440000000000004,
 0.10980000000000001,
 0.2573,
 0.2529,
 0.34640000000000004,
 0.13170000000000004,
 0.028200000000000003,
 0.21340000000000003,
 0.2963,
 0.35350000000000004,
 0.41269999999999996,
 0.1987,
 0.4101,
 0.9346,
 0.8475,
 0.03249999999999997,
 0.24880000000000002,
 0.05249999999999999,
 0.10940000000000005,
 0.20230000000000004,
 0.7081,
 0.3033,
 0.3759,
 0.7913,
 0.3264,
 0.7362,
 0.06740000000000002,
 0.25129999999999997,
 0.3832,
 0.26949999999999996,
 0.848,
 0.2107,
 0.6089,
 0.023299999999999987,
 0.16090000000000004,
 0.25270000000000004,
 0.4414,
 0.10699999999999998,
 0.24080000000000001,
 0.07579999999999998,
 0.14939999999999998,
 0.18420000000000003,
 0.6776,
 0.10860000000000003,
 0.01739999999999997,
 0.09640000000000004,
 0.3415,
 0.10819999999999996,
 0.0917,
 0.24170000000000003,
 0.9349,
 0.07999999999999996,
 0.6188,
 0.22529999999999994,
 0.18669999999999998,
 0.12090000000000001,
 0.29100000000000004,
 0.8107,
 0.47929999999999995,
 0.16990000000000005,
 0.1713,
 0.11550000000000005,
 0.1614,
 0.40590000000000004,
 0.19879999999999998,
 0.824,
 0.21330000000000005,
 0.07540000000000002,
 0.19210000000000005,
 0.12429999999999997,
 0.3568,
 0.20409999999999995,
 0.09350000000000003,
 0.21109999999999995,
 0.7909,
 0.27880000000000005,
 0.29259999999999997,
 0.26759999999999995,
 0.3155,
 0.15949999999999998,
 0.4465,
 0.25,
 0.8347,
 0.10440000000000005,
 0.368,
 0.8812,
 0.24319999999999997,
 0.9275,
 0.2238,
 0.18369999999999997,
 0.9349,
 0.17410000000000003,
 0.4173,
 0.352,
 0.3436,
 0.37260000000000004,
 0.13929999999999998,
 0.024499999999999966,
 0.3568,
 0.3287,
 0.7702,
 0.842,
 0.07410000000000005,
 0.2744,
 0.06320000000000003,
 0.21350000000000002,
 0.11519999999999997,
 0.13580000000000003,
 0.12070000000000003,
 0.07469999999999999,
 0.486,
 0.19299999999999995,
 0.09260000000000002,
 0.21199999999999997,
 0.21430000000000005,
 0.39339999999999997,
 0.7203,
 0.27380000000000004,
 0.13770000000000004,
 0.5976,
 0.2599,
 0.38780000000000003,
 0.3537,
 0.19110000000000005,
 0.04139999999999999,
 0.514,
 0.57,
 0.822,
 0.08240000000000003,
 0.18510000000000004,
 0.35129999999999995,
 0.28990000000000005,
 0.3065,
 0.6273,
 0.8029,
 0.4435,
 0.31389999999999996,
 0.21050000000000002,
 0.26270000000000004,
 0.13649999999999995,
 0.1825,
 0.1896,
 0.7884,
 0.2742,
 0.7792,
 0.1371,
 0.6772,
 0.06979999999999997,
 0.132,
 0.8211,
 0.20740000000000003,
 0.17669999999999997,
 0.14580000000000004,
 0.06769999999999998,
 0.07799999999999996,
 0.13390000000000002,
 0.19340000000000002,
 0.9325,
 0.0947,
 0.22829999999999995,
 0.09930000000000005,
 0.4757,
 0.4828,
 0.6914,
 0.41000000000000003,
 0.13649999999999995,
 0.21789999999999998,
 0.3165,
 0.7785,
 0.37339999999999995,
 0.9169,
 0.07350000000000001,
 0.3365,
 0.405,
 0.2681,
 0.09519999999999995,
 0.19430000000000003,
 0.27949999999999997,
 0.12260000000000004,
 0.2813,
 0.24650000000000005,
 0.25770000000000004,
 0.3315,
 0.19379999999999997,
 0.32320000000000004,
 0.5646,
 0.15000000000000002,
 0.15069999999999995,
 0.5633,
 0.12960000000000005,
 0.2187,
 0.08850000000000002,
 0.25060000000000004,
 0.3327,
 0.139,
 0.4151,
 0.8843,
 0.12170000000000003,
 0.15690000000000004,
 0.11539999999999995,
 0.5951,
 0.18069999999999997,
 0.27680000000000005,
 0.1321,
 0.478,
 0.923,
 0.7822,
 0.08889999999999998,
 0.5861,
 0.11119999999999997,
 0.13849999999999996,
 0.25339999999999996,
 0.05679999999999996,
 0.3013,
 0.30900000000000005,
 0.09089999999999998,
 0.406,
 0.02529999999999999,
 0.10799999999999998,
 0.17049999999999998,
 0.6355,
 0.2178,
 0.1391,
 0.08340000000000003,
 0.17479999999999996,
 0.19820000000000004,
 0.3184,
 0.047900000000000054,
 0.10970000000000002,
 0.6798,
 0.12829999999999997,
 0.3077,
 0.16110000000000002,
 0.09850000000000003,
 0.36929999999999996,
 0.14080000000000004,
 0.8553,
 0.01649999999999996,
 0.4114,
 0.5296,
 0.594,
 0.17869999999999997,
 0.10760000000000003,
 0.031200000000000006,
 0.11880000000000002,
 0.11040000000000005,
 0.18610000000000004,
 0.47629999999999995,
 0.8531,
 0.3496,
 0.5344,
 0.8118,
 0.7972,
 0.09150000000000003,
 0.9339,
 0.9113,
 0.5821,
 0.3145,
 0.057499999999999996,
 0.09230000000000005,
 0.3608,
 0.8243,
 0.3157,
 0.2833,
 0.4498,
 0.9636,
 0.1753,
 0.4225,
 0.2116,
 0.16249999999999998,
 0.8401,
 0.35540000000000005,
 0.20750000000000002,
 0.11760000000000004,
 0.4667,
 0.29710000000000003,
 0.10950000000000004,
 0.8851,
 0.16310000000000002,
 0.20350000000000001,
 0.4586,
 0.052100000000000035,
 0.2651,
 0.22230000000000005,
 0.8727,
 0.2025,
 0.18359999999999999,
 0.17659999999999998,
 0.15600000000000003,
 0.26,
 0.6231,
 0.8742,
 0.11580000000000001,
 0.08899999999999997,
 0.12849999999999995,
 0.7922,
 0.33330000000000004,
 0.14370000000000005,
 0.22060000000000002,
 0.43700000000000006,
 0.3789,
 0.1753,
 0.25139999999999996,
 0.17469999999999997,
 0.21989999999999998,
 0.12980000000000003,
 0.3186,
 0.36939999999999995,
 0.10709999999999997,
 0.1835,
 0.1713,
 0.13049999999999995,
 0.21340000000000003,
 0.18379999999999996,
 0.555,
 0.2167,
 0.25039999999999996,
 0.3872,
 0.46499999999999997,
 0.17069999999999996,
 0.4092,
 0.037900000000000045,
 0.06879999999999997,
 0.3863,
 0.26570000000000005,
 0.15849999999999997,
 0.1774,
 0.10209999999999997,
 0.08440000000000003,
 0.8274,
 0.31299999999999994,
 0.9108,
 0.3113,
 0.3358,
 0.14400000000000002,
 0.19479999999999997,
 0.8072,
 0.15159999999999996,
 0.8534,
 0.06989999999999996,
 0.7777,
 0.09250000000000003,
 0.09250000000000003,
 0.35419999999999996,
 0.2599,
 0.0927,
 0.1975,
 0.12339999999999995,
 0.19099999999999995,
 0.18320000000000003,
 0.5203,
 0.2801,
 0.8606,
 0.038000000000000034,
 0.8657,
 0.36,
 0.14839999999999998,
 0.22819999999999996,
 0.09079999999999999,
 0.19930000000000003,
 0.34230000000000005,
 0.238,
 0.11870000000000003,
 0.3963,
 0.14449999999999996,
 0.48419999999999996,
 0.40880000000000005,
 0.9007,
 0.42390000000000005,
 0.5586,
 0.5565,
 0.9346,
 0.03600000000000003,
 0.8558,
 0.35140000000000005,
 0.1462,
 0.8649,
 0.6264,
 0.5351,
 0.24150000000000005,
 0.1612,
 0.4488,
 0.43810000000000004,
 0.08879999999999999,
 0.2277,
 0.7327,
 0.3591,
 0.6769,
 0.42310000000000003,
 0.10960000000000003,
 0.030000000000000027,
 0.8085,
 0.13759999999999994,
 0.19599999999999995,
 0.5693,
 0.8911,
 0.12,
 0.8419,
 0.14339999999999997,
 0.8673,
 0.7389,
 0.841,
 0.886,
 0.18159999999999998,
 0.18679999999999997,
 0.11680000000000001,
 0.18679999999999997,
 0.8104,
 0.22119999999999995,
 0.14049999999999996,
 0.46819999999999995,
 0.3196,
 0.19030000000000002,
 0.13380000000000003,
 0.07179999999999997,
 0.15269999999999995,
 0.4383,
 0.21399999999999997,
 0.21660000000000001,
 0.07040000000000002,
 0.26470000000000005,
 0.4032,
 0.8642,
 0.24629999999999996,
 0.3577,
 0.8615,
 0.43920000000000003,
 0.26649999999999996,
 0.16149999999999998,
 0.16569999999999996,
 0.9119,
 0.09999999999999998,
 0.27290000000000003,
 0.7908,
 0.18720000000000003,
 0.36650000000000005,
 0.15959999999999996,
 0.6697,
 0.8551,
 0.12460000000000004,
 0.36719999999999997,
 0.2528,
 0.1856,
 0.09499999999999997,
 0.7872,
 0.9361,
 0.4333,
 0.5752,
 0.15490000000000004,
 0.20599999999999996,
 0.795,
 0.10850000000000004,
 0.12019999999999997,
 0.2518,
 0.13780000000000003,
 0.8766,
 0.19469999999999998,
 0.266,
 0.053300000000000014,
 0.31110000000000004,
 0.22529999999999994,
 0.247,
 0.6881,
 0.5514,
 0.1594,
 0.16310000000000002,
 0.2784,
 0.2107,
 0.20989999999999998,
 0.22819999999999996,
 0.8539,
 0.3841,
 0.15039999999999998,
 0.7537,
 0.5072,
 0.07289999999999996,
 0.4948,
 0.07689999999999997,
 0.25229999999999997,
 0.9161,
 0.21109999999999995,
 0.262,
 0.17400000000000004,
 0.32720000000000005,
 0.5118,
 0.9415,
 0.1583,
 0.31110000000000004,
 0.025499999999999967,
 0.3728,
 0.7038,
 0.7368,
 0.7091,
 0.5851,
 0.07530000000000003,
 0.6256,
 0.23870000000000002,
 0.3599,
 0.26459999999999995,
 0.9065,
 0.26639999999999997,
 0.21089999999999998,
 0.1079,
 0.8383,
 0.3026,
 0.10219999999999996,
 0.1875,
 0.2762,
 0.10170000000000001,
 0.3559,
 0.16279999999999994,
 0.7876,
 0.15710000000000002,
 0.32730000000000004,
 0.07099999999999995,
 0.6849,
 0.08919999999999995,
 0.38029999999999997,
 0.22399999999999998,
 0.2831,
 0.3812,
 0.11609999999999998,
 0.09719999999999995,
 0.22050000000000003,
 0.2985,
 0.8857,
 0.10199999999999998,
 0.3116,
 0.1431,
 0.23029999999999995,
 0.27780000000000005,
 0.7604,
 0.12150000000000005,
 0.27890000000000004,
 0.03080000000000005,
 0.3207,
 0.42979999999999996,
 0.14439999999999997,
 0.8977,
 0.11750000000000005,
 0.21640000000000004,
 0.09599999999999997,
 0.16110000000000002,
 0.11919999999999997,
 0.2932,
 0.1552,
 0.7515,
 0.1331,
 0.12290000000000001,
 0.8577,
 0.07579999999999998,
 0.8446,
 0.24950000000000006,
 0.15580000000000005,
 0.17879999999999996,
 0.8436,
 0.28979999999999995,
 0.08089999999999997,
 0.21530000000000005,
 0.21589999999999998,
 0.17600000000000005,
 0.10540000000000005,
 0.9397,
 0.382,
 0.12870000000000004,
 0.17220000000000002,
 0.7219,
 0.09309999999999996,
 0.5101,
 0.2764,
 0.07420000000000004,
 0.39270000000000005,
 0.7884,
 0.7601,
 0.13929999999999998,
 0.026100000000000012,
 0.30379999999999996,
 0.7772,
 0.17269999999999996,
 0.05889999999999995,
 0.33520000000000005,
 0.18069999999999997,
 0.18769999999999998,
 0.27649999999999997,
 0.2218,
 0.060899999999999954,
 0.3577,
 0.5566,
 0.773,
 0.028900000000000037,
 0.19410000000000005,
 0.048799999999999955,
 0.1452,
 0.15569999999999995,
 0.24870000000000003,
 0.35940000000000005,
 0.05679999999999996,
 0.13670000000000004,
 0.06330000000000002,
 0.8029,
 0.6034,
 0.06030000000000002,
 0.12619999999999998,
 0.09789999999999999,
 0.12029999999999996,
 0.6955,
 0.9204,
 0.20850000000000002,
 0.41600000000000004,
 0.1542,
 0.23609999999999998,
 0.9242,
 0.34719999999999995,
 0.16269999999999996,
 0.8684,
 0.8509,
 0.3701,
 0.19179999999999997,
 0.22109999999999996,
 0.3006,
 0.13990000000000002,
 0.09930000000000005,
 0.14649999999999996,
 0.30510000000000004,
 0.21409999999999996,
 0.8263,
 0.13660000000000005,
 0.127,
 0.8115,
 0.2851,
 0.3315,
 0.5749,
 0.26670000000000005,
 0.4496,
 0.13249999999999995,
 0.08589999999999998,
 0.42110000000000003,
 0.7871,
 0.8742,
 0.41659999999999997,
 0.21150000000000002,
 0.9002,
 0.2842,
 0.19689999999999996,
 0.15410000000000001,
 0.2489,
 0.07499999999999996,
 0.20530000000000004,
 0.14180000000000004,
 0.9373,
 0.29269999999999996,
 0.19569999999999999,
 0.9541,
 0.11199999999999999,
 0.07709999999999995,
 0.8008,
 0.9068,
 0.04530000000000001,
 0.08660000000000001,
 0.41879999999999995,
 0.8183,
 0.1432,
 0.7596,
 0.5117,
 0.9505,
 0.5973,
 0.11719999999999997,
 0.1975,
 0.32320000000000004,
 0.0938,
 0.3438,
 0.2108,
 0.14490000000000003,
 0.38060000000000005,
 0.4637,
 0.22629999999999995,
 0.23229999999999995,
 0.3076,
 0.8015,
 0.3195,
 0.1754,
 0.276,
 0.32230000000000003,
 0.20799999999999996,
 0.2127,
 0.1955,
 0.14670000000000005,
 0.9016,
 0.1846,
 0.5692,
 0.8532,
 0.28590000000000004,
 0.5473,
 0.2781,
 0.49929999999999997,
 0.08009999999999995,
 0.902,
 0.07740000000000002,
 0.10819999999999996,
 0.12939999999999996,
 0.5337,
 0.6416,
 0.5662,
 0.36250000000000004,
 0.08730000000000004,
 0.2966,
 0.1442,
 0.18700000000000006,
 0.33720000000000006,
 0.16920000000000002,
 0.8786,
 0.2982,
 0.18999999999999995,
 0.14290000000000003,
 0.08289999999999997,
 0.35429999999999995,
 0.8291,
 0.2499,
 0.2026,
 0.13980000000000004,
 0.21640000000000004,
 0.8556,
 0.9356,
 0.7544,
 0.8525,
 0.18200000000000005,
 0.11950000000000005,
 0.23019999999999996,
 0.12050000000000005,
 0.07730000000000004,
 0.13770000000000004,
 0.2388,
 0.41300000000000003,
 0.29179999999999995,
 0.8999,
 0.48229999999999995,
 0.08599999999999997,
 0.4386,
 0.12529999999999997,
 0.4565,
 0.45420000000000005,
 0.3397,
 0.3499,
 0.10350000000000004,
 0.2177,
 0.17620000000000002,
 0.07509999999999994,
 0.1522,
 0.32189999999999996,
 0.1916,
 0.21340000000000003,
 0.5087,
 0.1513,
 0.31379999999999997,
 0.958,
 0.08809999999999996,
 0.1451,
 0.22529999999999994,
 0.22919999999999996,
 0.11040000000000005,
 0.2538,
 0.2835,
 0.0645,
 0.17220000000000002,
 0.17620000000000002,
 0.5487,
 0.43889999999999996,
 0.3144,
 0.08079999999999998,
 0.2791,
 0.0827,
 0.3265,
 0.832,
 0.19799999999999995,
 0.03510000000000002,
 0.21399999999999997,
 0.10270000000000001,
 0.40969999999999995,
 0.12960000000000005,
 0.5767,
 0.8996,
 0.23560000000000003,
 0.13239999999999996,
 0.8863,
 0.45009999999999994,
 0.06359999999999999,
 0.9019,
 0.30069999999999997,
 0.15249999999999997,
 0.31810000000000005,
 0.8419,
 0.5447,
 0.16559999999999997,
 0.21289999999999998,
 0.25860000000000005,
 0.3186,
 0.2329,
 0.9037,
 0.3086,
 0.1361,
 0.6405,
 0.3538,
 0.24629999999999996,
 0.8477,
 0.1986,
 0.16259999999999997,
 0.2519,
 0.11509999999999998,
 0.7029,
 0.12319999999999998,
 0.31779999999999997,
 0.24039999999999995,
 0.06559999999999999,
 0.22729999999999995,
 0.12229999999999996,
 0.9362,
 0.9265,
 0.21430000000000005,
 0.16959999999999997,
 0.20340000000000003,
 0.6107,
 0.26559999999999995,
 0.2815,
 0.20650000000000002,
 0.3719,
 0.11580000000000001,
 0.09950000000000003,
 0.15669999999999995,
 0.14600000000000002,
 0.10660000000000003,
 0.1654,
 0.38670000000000004,
 0.40700000000000003,
 0.3195,
 0.9124,
 0.36150000000000004,
 0.6625,
 0.13260000000000005,
 0.20789999999999997,
 0.3248,
 0.24539999999999995,
 0.09970000000000001,
 0.1846,
 0.2911,
 0.9663,
 0.38260000000000005,
 0.13549999999999995,
 0.8841,
 0.20440000000000003,
 0.3679,
 0.24480000000000002,
 0.2762,
 0.2491,
 0.18899999999999995,
 0.132,
 0.35240000000000005,
 0.09660000000000002,
 0.2984,
 0.08309999999999995,
 0.25970000000000004,
 0.2542,
 0.23709999999999998,
 0.4457,
 0.19440000000000002,
 0.33930000000000005,
 0.7306,
 0.8855,
 0.17879999999999996,
 0.3992,
 0.09899999999999998,
 0.32020000000000004,
 0.38870000000000005,
 0.6162,
 0.14839999999999998,
 0.7324,
 0.368,
 0.2098,
 0.16180000000000005,
 0.24970000000000003,
 0.35850000000000004,
 0.25,
 0.14029999999999998,
 0.022599999999999953,
 0.638,
 0.4021,
 0.9385,
 0.35429999999999995,
 0.18999999999999995,
 0.02749999999999997,
 0.9236,
 0.6049,
 0.13149999999999995,
 0.41269999999999996,
 0.6723,
 0.09409999999999996,
 0.3813,
 0.7021,
 0.1804,
 0.16410000000000002,
 0.22509999999999997,
 0.3052,
 0.42510000000000003,
 0.8467,
 0.5136,
 0.7737,
 0.26470000000000005,
 0.8249,
 0.0373,
 0.1521,
 0.8915,
 0.13339999999999996,
 0.35929999999999995,
 0.055400000000000005,
 0.0232,
 0.07899999999999996,
 0.08509999999999995,
 0.8642,
 0.09640000000000004,
 0.36950000000000005,
 0.3607,
 0.18089999999999995,
 0.6402,
 0.265,
 0.11450000000000005,
 0.3742,
 0.43689999999999996,
 0.5685,
 0.0595,
 0.372,
 0.29159999999999997,
 0.5352,
 0.14739999999999998,
 0.27780000000000005,
 0.04179999999999995,
 0.9602,
 0.14780000000000004,
 0.18899999999999995,
 0.16749999999999998,
 0.39249999999999996,
 0.8742,
 0.20009999999999994,
 0.6081,
 0.8539,
 0.8693,
 0.2955,
 0.25529999999999997,
 0.7462,
 0.9393,
 0.16300000000000003,
 0.14870000000000005,
 0.8349,
 0.20989999999999998,
 ...]

In [330]:
sample_submssion = pd.read_csv(PATH+'sample_submission.csv')

In [331]:
sample_submssion['problem'] = x

In [332]:
sample_submssion.to_csv("submission10_qual40_t42_m9_f10_e42_blended.csv", index = False)
sample_submssion

       user_id  problem
0        30000   0.8886
1        30001   0.2266
2        30002   0.5149
3        30003   0.8042
4        30004   0.7222
...        ...      ...
14994    44994   0.2059
14995    44995   0.2314
14996    44996   0.7191
14997    44997   0.7960
14998    44998   0.4063

[14999 rows x 2 columns]